.row
  .col-md-2
  .col-md-8
    .card
      .card-block
        .card-title
          %h2 Help


        %br
        %h4 General
        - if @active_event.take_orders_deadline_at
          %h5 Q. What is the timeline?
          %ul

            %li
              = @active_event.take_orders_deadline_at.strftime("%B %d")
              = "- Deadline for last Take Order forms/collection envelopes due"
          - if @active_event.prize_cart_ordering_ends_at
            %li
              = @active_event.prize_cart_ordering_ends_at.strftime("%B %d")
              = "- Prize selection is due"            

        - if @active_event.contact_person_email?
          %h5 Q. Who can I ask if I have questions?
          %p= mail_to @active_event.contact_person_email
          %br
        %h4 Door-to-Door Take Orders
        %h5 Q. How do I do door-to-door sales?
        %p With door-to-door sales you'll be interacting with your neighbors, and since you are asking for their support, its important to proudly wear your full Scout uniform. Bring your order form, and introduce yourself. You could say "Hello, my name is John, and I am a Cub Scout with Pack 4496. I am raising money through the sale of popcorn for our Pack and to help me go to summer camp. Can I show you the popcorn we have?"

        %p If a neighbor decides to buy, make sure you record all of the details on your order form. Collect the money, and make sure you say how much you appreciate their support, such as "Thank you for your support".

        %p An easy way to collect your customers information is to hand them the form and say, "Could you fill in your name and address please?". You can also tell them that if they want a receipt, they can include their email.

        %h5 Q. Can a customer pay by Credit Card?
        %p Yes. All your parent needs is an internet-connected device. Visit https://popcornhero.org and select 'Pay by Credit Card'. Fill in the customer, credit card details and scout name, select 'Pack 4496' and if accepted, write down the order number on your order form.

        %h5 Q. Who should checks be made out to?
        %p Pack 4496

        %h5 Q. Once I have taken an order, what do I do?
        %p Enter the details of the customer and the product sold on your order form. If you want to see a total of your sales, you can also enter them on this site. Once you turn in your order form and money, all your take orders will be shown on this site, so you can easily see where you need to deliver the popcorn product when we have it available.

        %h5 Q. How do I give a receipt?
        %p Be sure to include each customers email address on your order form. Once your order has been submitted, we will automatically send an email with details of the order to the email address.

        %h5 Q. When will door-to-door take orders be delivered?
        %p You will need to pick up your deliveries on or around November 5. You will be notified by email when its available.

        %h5 Q. Who and how how should I turn in my Take Orders order form and money to?
        %p Take Order order form and collection envelopes can be turned in at any Site Sale, which we suggest once you have collected 8-15 orders. We have more order forms/collection envelopes available for pickup at any Site Sale. The benefit to you is that all of your orders will be entered into CornCub.us where you can track how your are doing.

        %h5 Q. When are Take Order forms due by?
        %p Take Order order forms/collection envelopes are due by October 16. We are transmitting the orders by midnight on October 16, so any orders received after that will need to be returned.

        %br
        %h4 Site Sales
        %h5 Q. Where do I sign up for Site Sales?
        %p= link_to "Google Site Sale Signup Sheet", "https://docs.google.com/spreadsheets/u/1/d/1yO7KX0E3OBasg2bCso0RZa74kTxiG-glYkt9b7PW5MY/edit?ts=57bf7d5d#gid=0"

        %h5 Q. Do I get sales credits for doing Site Sales?
        %p Yes. We'll take all of revenues from Site Sales, divide them by the total hours worked and multiply the result by the number of hours your worked.
   
        %br
        %h4 Online Sales
        %h5 Q. Can I offer online sales to my distant relatives?
        %p
          Scouts can also direct friends/relatives to the Trails End website to do online orders, in which Scouts will get credit. To do this you need to register them for a unique ID. There is a registration link on their home page or go here:
          = link_to "https://www.trails-end.com/Home/Register", "https://www.trails-end.com/Home/Register", target: "_blank"
          Any orders placed on the Trails-End.com website with that Scout ID, will be credited to the Scout and will show up in Corn Cub.    
        / %br
        / %h4 Direct Sales  
        / %h5 Q. What are direct sales?
        / %p Direct sales are sales of product that you directly sell to your neighbor without taking an order. This requires to have the product on hand.