.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h1 Payment Method

        = form_for @payment_method do |f|
          - if @payment_method.errors.any?
            #error_explanation
              %h2= "#{pluralize(@payment_method.errors.count, "error")} prohibited this payment_method from being saved:"
              %ul
                - @payment_method.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'

          .form-group
            = f.label :is_active
            = f.check_box :is_active, class: 'form-control'
          .form-group
            = f.label :is_cash
            = f.check_box :is_cash, class: 'form-control'
          .actions
            = f.submit 'Save', class: 'btn btn-success'
