.row
  .col-md-4
  .col-md-4
    .card
      .card-body
        %h1.display-6.text-center= Rails.configuration.application_name || 'Corn Cub'
        .text-center= image_tag "kettle-corn-microwave.jpg", width: 250,class: 'img-fluid m-x-auto'
        .card-text
          - unless Unit.all.empty?
            = form_tag '/sessions' do
              .form-group
                .field
                  = label_tag :email
                  %br
                  = email_field '', :email, autofocus: true, class: 'form-control'
              .form-group
                .field
                  = label_tag :password
                  %br
                  = password_field '', :password, autocomplete: "off", class: 'form-control'

              .actions
                = submit_tag "Log in", class: 'btn btn-success'

          %br

          - if Unit.active.any?
            %p
              Not registered?
              = link_to "Sign Up", signup_path, class: 'sign_up_link'
              %br
              = link_to "Forget password?", forgot_password_path

          - if Rails.configuration.allow_for_multiple_units || Unit.all.empty?

            %hr
            Unit not signed up?
            = link_to "Sign Up Your Unit", new_unit_path, class: 'sign-up-your-unit'