.row
  .col-md-3
  .col-md-6
    .card
      .card-block
        .card-title
          %h2 Pack 4496 Corn Cub Sign Up

        %p.card-text
          %em Parents: Enter your Scout's name here and your email address.

        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!

          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, placeholder: "Parent's email", class: 'form-control'

          .form-group
            = f.label :scout_first_name
            = f.text_field :first_name, placeholder: "Scout's first name",class: 'form-control'

          .form-group
            = f.label :scout_last_name
            = f.text_field :last_name, placeholder: "Scout's last name",class: 'form-control'  

          .form-group
            = f.label :parent_first_name
            = f.text_field :parent_first_name, placeholder: "Parent's first name",class: 'form-control'

          .form-group
            = f.label :parent_last_name
            = f.text_field :parent_last_name, placeholder: "Parent's last name",class: 'form-control'  

          .form-group
            = f.label :unit
            %br
            = f.collection_select :unit_id, Unit.all, :id, :name, { class: 'form-control'}, disabled: true

          .form-group
            = f.label :password
            - if @minimum_password_length
              %em
                = surround("(", ")") do
                  = @minimum_password_length
                  characters minimum.

            = f.password_field :password, autocomplete: "off",class: 'form-control'

          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

          .actions
            = f.submit "Sign up", class: 'btn btn-success'

        %br
        = render "devise/shared/links"
