.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h1 Purchase Orders
        %table.table.card-text
          %thead
            %tr
              - unless @unit
                %th Unit
              %th ID
              %th Status
              %th Event
              %th Type
              %th Ordered
              %th
              %th
              %th

          %tbody
            - @purchase_orders.each do |purchase_order|
              %tr
                - unless @unit
                  %td= purchase_order.unit.name
                %td= purchase_order.id
                %td
                  %span.tag.tag-info= purchase_order.status.capitalize
                %td= purchase_order.event.name if purchase_order.event
                %td= purchase_order.type.gsub("PurchaseOrder","").underscore.titleize
                %td= purchase_order.ordered_at.to_formatted_s(:long) if purchase_order.ordered_at
                %td
                  = link_to purchase_order do
                    %i.fa.fa-eye.fa-lg

