.row
  .col-md-12
    .card
      .card-body

        .card-title
          %h2
            Take Order

        = form_for [@take_order, @line_item] do |f|
          = render 'errors', target: @line_item

          .form-group
            = f.label :product
            %br
            = f.collection_select :product_id, Product.take_order_left(@take_order), :id, :name, {:include_blank => "Select a product"}, class: 'form-control'
          .row
            .col-md-4
              .form-group
                = f.label :quantity
                %br
                = f.select :quantity, options_for_select((1..100)),{},class: 'form-control'
          .actions
            = f.submit 'Save', class: 'btn btn-success'
        %br
        = link_to "< Back to Take Order", take_order_path(@take_order) 