.row
  .col-md-12
    .card
      .card-block

        .card-title
          %h2
            Take Order

        = form_for [@take_order, @line_item] do |f|
          = render 'errors', target: @line_item

          .form-group
            = f.label :product
            %br
            = f.collection_select :product_id, Product.take_order_left(@take_order), :id, :short_name, {:include_blank => "Select a product"}, class: 'form-control'
          .row
            .col-md-4
              .form-group
                = f.label :quantity
                %br
                = f.select :quantity, options_for_select(['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25']),{:include_blank => "Select a quantity"},class: 'form-control'
          .actions
            = f.submit 'Save', class: 'btn btn-success'
        %br
        = link_to "< Back to Take Order", take_order_path(@take_order) 