%table.table.table-sm
  %tr
    %th Product
    %th Orders
    %th Inventory
    %td Order
    %td Price
    %td Amount
  - @grand_total = 0
  - @products_to_order.each do |product_id, quantity|
    - product = @active_event.products.find(product_id)
    - next unless product.is_sourced_from_bsa
    %tr
      %td= product.name
      %td= quantity
      %td
        - inventory = product.stocks.sum(:quantity)
        = inventory
      %td= quantity - inventory
      %td= number_to_currency(product.retail_price)
      %td
        = number_to_currency((quantity - inventory) * product.retail_price)
        - @grand_total += (quantity - inventory) * product.retail_price

  %tr
    %td(colspan=5)
    %td= number_to_currency(@grand_total)