%table.table.table-sm
  %tr
    %th Product
    %th Quantity
    %td Price
    %td Amount
  - @grand_total = 0
  - @products_to_order.each do |product_id, quantity|
    - product = @active_event.products.find(product_id)
    - @grand_total += quantity * product.retail_price
    %tr
      %td= product.name
      %td= quantity
      %td= number_to_currency(product.retail_price)
      %td= number_to_currency(quantity * product.retail_price)

  %tr
    %td
    %td
    %td
    %td= number_to_currency(@grand_total)