.row
  .col-md-12
    .card
      .card-body

        %h1.card-title Take Orders Order

        %table.table.table-sm.card-text
          %tr
            %th Product
            %th Orders
            %th Inventory
            %th Order
            %th Price
            %th.text-right Amount
          - @grand_total = 0
          - @products_to_order.each do |product_id, quantity|
            - product = @active_event.products.find(product_id)
            - next unless product.is_sourced_from_bsa
            %tr
              %td= product.name
              %td= quantity
              %td
                - inventory = product.stocks.sum(:quantity)
                = inventory
              %td
                - order_quantity = quantity - inventory
                - order_quantity = 0 if order_quantity < 0
                = order_quantity
              %td= number_to_currency(product.retail_price)
              %td.text-right
                = number_to_currency(order_quantity * product.retail_price)
                - @grand_total += order_quantity * product.retail_price

          %tr
            %td(colspan=5)
            %td.text-right= number_to_currency(@grand_total)

        %p.card-text= nice_date_time(Time.now)