= render 'prizes/nav'

.row
  .col-md-12

    %h2.card-title Prize Carts
    %table.table.table-sm
      %tr
        %th Scout
        %th Items
        %th Event sales credits
        %th Unit used
        %th Coucil used
        %th Status
      - @prize_carts.each do |cart|

        %tr
          %td
            - if cart.scount.present?
              = link_to cart.scout.name, prize_cart_path(cart.scout.prize_cart(@active_event))
            - else
              = cart.id
          %td= cart.cart_prizes.count
          %td= number_to_currency(cart.scout.event_sales_credits(@active_event))
          %td= number_to_currency(cart.sales_credits_used("Unit"))
          %td= number_to_currency(cart.sales_credits_used("Council"))
          %td= cart.status
            
    = paginate @prize_carts