= render 'prizes/nav'

.row
  .col-md-12

    %h2.card-title Prize Carts
    %table.table.table-sm
      %tr
        %th Scout
        %th Items
        %th Status
      - @prize_carts.each do |cart|

        %tr
          %td= cart.scout.name
          %td= cart.cart_prizes.count
          %td
            = cart.status
            = link_to '(View)', prize_cart_path(cart.scout.prize_cart(@active_event))
    = paginate @prize_carts