= @prize_cart.inspect
= @prize_cart.ordered?
- unless current_scout.admin?
  .row
    .col-md-2
    .col-md-8
      .card
        .card-block
          .card-title.text-xs-center
            %h2 Your Sales

          %h4.card-text.text-xs-center.text-info
            = number_to_currency(@total_sales)

          %p.card-text.text-muted.text-xs-center.small This figure includes all Site and Online Sales, and Take Orders that have been turned in.


  .row
    .col-md-6
      .card
        .card-block
          .card-title
            %h2 Available BSA Prizes

          %p.card-text.text-muted
            Select any combination of BSA prizes that total less than your total sales of
            = number_to_currency(@total_sales)

          %p.text-xs-center
            You have
            = number_to_currency(@total_sales - @bsa_prize_amounts_selected, precision: 0)
            left to choose prizes with

          - unless @cart_prizes.any? || @eligible_bsa_prizes.any?
            %br
            .col-md-2
            .col-md-8
              .alert.alert-info.text-xs-center
                As you do more Popcorn Sales, prizes you become eligible for will be shown here.
          
          - if @eligible_bsa_prizes.any?
            %br
            %table.table.table-sm
              - @eligible_bsa_prizes.each do |prize|
                %tr
                  %td
                    = link_to prize.name, prize_path(prize)
                    = image_tag(prize.url, width: 40, class: 'img-rounded') if prize.url
                  %td.text-xs-right= number_to_currency(prize.amount, precision: 0)
                  %td.text-xs-right.action_button
                    = button_to prize_selection_path(prize.id), class: 'btn btn-success' do
                      %i.fa.fa-cart-plus

    .col-md-6
      .card
        .card-block
          .card-title
            %h2 Available Pack Prizes
          - if @pack_prizes.any?
            %p.card-text.text-muted You can select one prize.

          - unless @cart_prizes.any? || @available_pack_prizes.any?
            %br
            .col-md-2
            .col-md-8
              .alert.alert-info.text-xs-center
                As you do more Popcorn Sales, prizes you become eligible for will be shown here.
          
          - if @pack_prizes.any?
            %table.table.table-sm
              - @pack_prizes.each do |prize|
                %tr
                  %td
                    = link_to prize.name, prize_path(prize)
                    = image_tag(prize.url, width: 40, class: 'img-rounded') if prize.url
                    / = number_to_currency(prize.amount, precision: 0)
                  %td.text-xs-right= number_to_currency(prize.amount, precision: 0)
                  %td.text-xs-right.action_button
                    = button_to prize_selection_path(prize.id), class: 'btn btn-success' do
                      %i.fa.fa-cart-plus

      .card
        .card-block
          .card-title
            %h2
              %i.fa.fa-shopping-cart.fa-lg
              Prize Cart
          %br
          - if @cart_prizes.any?
            %table.table.table-sm
              - @cart_prizes.each do |scout_prize|
                %tr
                  %td
                    - if scout_prize.prize.source == 'bsa'
                      BSA Prize
                    - elsif scout_prize.prize.source == 'bsa-bonus'
                      BSA Bonus Prize
                    - elsif scout_prize.prize.source == 'pack'
                      Pack Prize
                    = link_to scout_prize.prize.name, prize_path(scout_prize.prize_id)
                    = image_tag(scout_prize.prize.url, width: 40, class: 'img-rounded') if scout_prize.prize.url
                    - if scout_prize.prize.source == 'pack' && @available_pack_prizes.first && @available_pack_prizes.first.amount > scout_prize.prize_amount
                      %br
                      .small.text-danger * Removing this prize will reveal additional Pack Prizes with higher values

                  %td.text-xs-right= number_to_currency(scout_prize.prize_amount, precision: 0)
                  %td.text-xs-right.action_button
                    - unless scout_prize.prize.source == 'bsa-bonus'
                      = button_to prize_removal_path(scout_prize.id), class: 'btn btn-success' do
                        %i.fa.fa-minus


          - else
            .col-md-2
            .col-md-8
              .alert.alert-info.text-xs-center
                Prizes you have chosen will be shown here.           


          .card-text.text-xs-center
            - if @active_event.allow_prize_cart_ordering? && !@prize_cart.ordered?
              = button_to "ORDER MY PRIZES", "#", class: 'btn btn-success btn-lg'
            - else
              .text-muted
                Prize orders can be placed on
                = succeed(".") do
                  = nice_date(@active_event.allow_prize_cart_ordering_at) 
              %br
              = button_to "ORDER MY PRIZES", "#", disabled: @active_event.allow_prize_cart_ordering_at < Date.today ? false : true, class: 'btn btn-success btn-lg'
             

