.row
  .col-md-2
  .col-md-8
    .card
      .card-body
        %h1.card-title.text-center
          = @active_event.name
          %br
          Prize Cart
          %br
          %i.fa.fa-shopping-cart.fa-lg

        
        .pull-right
          .card-text.hidden-print.text-right= link_to "View Prizes", prizes_path
          .card-text.hidden-print.text-right
            = link_to "#", onclick: 'window.print();return false;' do
              %i.fa.fa-print.fa-lg
              Print


        %p.card-text
          = @prize_cart.scout.name
          %br
          = @active_event.name
        - if @prize_cart.ordered?
          %h3.text-center
            .badge.badge-success Ordered

        %table.table.card-text
          %tr
            %td Prize
            %td.text-center Quantity
            %td.text-right Sales credits used
          - @cart_prize_sources.each do |source|
            %tr
              %th(colspan=3)
                = source
                prizes
            - @prize_cart.cart_prizes.joins(:prize).where("prizes.source = ?", source).each do |cart_prize|
              - prize = cart_prize.prize
              
              %tr
                %td
                  = succeed(":") do
                    = prize.source
                  = prize.name
                  - if prize.description.present?
                    %br
                    .small= prize.description
                  - if prize.reduces_sales_credits
                    %br
                    - unless @prize_cart.ordered?
                      = button_to "Remove", prize_removal_path(cart_prize), method: :post, class: "btn btn-info btn-sm hidden-print #{prize.name.parameterize}"
                %td.text-center
                  = cart_prize.quantity

                %td.text-right
                  - if cart_prize.prize_amount.present?
                    = number_to_currency(cart_prize.prize_amount * cart_prize.quantity, precision: 2)
                  - else
                    = "-"
                  /#FIXME This could permit additional quantity on a prize whose price has been changed

            %tr
              %th
              %td
              %td.text-right= number_to_currency(@prize_cart.sales_credits_used(source), precision: 2)
        %hr
        %small.text-muted
          - if @prize_cart.ordered?
            Ordered:
            = nice_date_time(@prize_cart.is_ordered_at)
          - if @prize_cart.approved? && current_scout.is_admin?
            = '– Approved:'
            = nice_date_time(@prize_cart.is_approved_at)
        .d-print-none
          - if @prize_cart.ordered? && !@prize_cart.approved? && allow_prize_cart_ordering?
            %p.card-text.text-center= button_to 'Reopen Order', unorder_prize_cart_path(@prize_cart.id), class: 'btn btn-success', disabled: false
            %p.small.text-muted This prize order can be reopend since your Unit has not ordered prizes yet. 
          - elsif !@prize_cart.ordered? && @active_event.allow_prize_cart_ordering?
            %p.card-text.text-center= button_to 'Order Prizes', order_prizes_path(@prize_cart.id), class: 'btn btn-success', disabled: false
          - if current_scout.is_prizes_admin?
            - if @prize_cart.ordered? && !@prize_cart.approved?
              %hr
              %p.card-text.text-center= button_to 'Approve', approve_prize_cart_path(@prize_cart.id), class: 'btn btn-success', disabled: false
            - elsif @prize_cart.approved?
              %p.card-text.text-center= button_to 'Unapprove', unapprove_prize_cart_path(@prize_cart.id), class: 'btn btn-success', disabled: false