.row
  .col-md-2
  .col-md-8
    .card
      .card-block
        %h2.card-title.text-center
          = @active_event.name
          %br
          Prize Cart
          %br
          %i.fa.fa-shopping-cart.fa-lg

        %p.card-text
          = current_scout.name
          %br
          = @active_event.name

        %p.card-text.hidden-print= link_to "View Prizes", prizes_path
        %br
        %table.table.card-text
          %tr
            %td Prize
            %td.text-center Quantity
            %td.text-right Sales credits used
          - @cart_prize_sources.each do |source|
            %tr
              %th(colspan=3)
                = source
                prizes
            - @prize_cart.cart_prizes.joins(:prize).where("prizes.source = ?", source).each do |cart_prize|
              - prize = cart_prize.prize
              
              %tr
                %td
                  = succeed(":") do
                    = prize.source
                  = prize.name
                  - if prize.description.present?
                    %br
                    .small= prize.description
                  - if prize.reduces_sales_credits
                    %br
                    = button_to "Remove", prize_removal_path(cart_prize), method: :post, class: 'btn btn-info btn-sm hidden-print'
                %td.text-center
                  = cart_prize.quantity

                %td.text-right
                  - if cart_prize.prize_amount.present?
                    = number_to_currency(cart_prize.prize_amount * cart_prize.quantity, precision: 2)
                  - else
                    = "-"
                  /#FIXME This could permit additional quantity on a prize whose price has been changed

            %tr
              %th
              %td
              %td.text-right= number_to_currency(@prize_cart.sales_credits_used(source), precision: 2)
        %hr
        - unless @prize_cart.ordered?
          .text-right.hidden-print= link_to 'Place Order', "#", class: 'btn btn-success text-right card-text', disabled: true

    .text-center.hidden-print
      = link_to "#" do
        %i.fa.fa-print.fa-lg
        Print