.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h2 Take Order
        %p.card-text
          Enter each door-to-door take-order sale you make that will need to be delivered.
        = form_for @take_order do |f|
          = render 'errors', target: @take_order

          - if current_scout.is_admin?
            .form-group
              .field
                = f.collection_select:scout_id, Scout.not_admin, :id, :first_name, {prompt: "Select a Scout"}, {class: 'form-control'}
          .form-group
            .field
              %label= f.label :customer_name
              = f.text_field :customer_name, class: 'form-control', placeholder: 'Name'
          .form-group
            .field
              %label= f.label :customer_address
              = f.text_field :customer_address, class: 'form-control', placeholder: 'Address'
          .form-group
            .field
              %label
                = f.label :customer_email
                %br
                %em.small A thank you receipt will be sent if an email address is entered.
              = f.text_field :customer_email, class: 'form-control', placeholder: 'Email'
          .form-group
            %label
              = f.label :account
            = f.collection_select :account_id, @unit.accounts.order(:name), :id, :name,{}, class: 'form-control'
          .form-group
            %label
              = f.label :credit_card_order_number
            = f.text_field :credit_card_order_number, class: 'form-control', placeholder: 'Enter Order # if paid by credit card'
          %br
          .actions
            = f.submit 'Save', class: 'btn btn-success'
