.row
  .col-md-12
    .card.card-block
      .card-title
        %h1.h1
          Take Orders

      - unless current_scout.is_admin?
        .alert.alert-info
          Drop off Take-Order order forms and collection envelope as often as you want to any Site Sale and your orders will be shown here. Pick up more order forms and collections envelopes at any Site Sale.

      - if current_scout.is_admin?
        %ul.nav.nav-inline
          %li.nav-item
            = link_to new_take_order_path, class: 'nav-link' do
              New Take Order

        %br

      - if current_scout.is_admin?      
        %ul.nav.nav-tabs
          %li.nav-item
            = link_to take_orders_path, class: "nav-link #{'active' unless params[:envelopes]}" do
              All Envelopes
              - if current_scout.is_admin?
                = surround("(", ")") do
                  = @active_event.envelopes.count

          %li.nav-item
            = link_to take_orders_path(envelopes: 'open'), class: "nav-link #{'active' if params[:envelopes] == 'open'}" do
              Open Envelopes
              - if current_scout.is_admin?
                = surround("(", ")") do
                  = @active_event.envelopes.open.count

          %li.nav-item
            = link_to take_orders_path(envelopes: 'closed'), class: "nav-link #{'active' if params[:envelopes] == 'closed'}" do
              Closed Envelopes
              - if current_scout.is_admin?
                = surround("(", ")") do
                  = @active_event.envelopes.closed.count
        %br
        / %li.nav-item
        /   = link_to take_orders_path(filter: 'received', scout_id: params[:scout_id]), class: "nav-link #{'active' if params[:filter] == 'received'}" do
        /     In Hand
        /     - if current_scout.is_admin?
        /       = surround("(", ")") do
        /         = @active_event.take_orders.received.count

        / %li.nav-item
        /   = link_to take_orders_path(filter: 'submitted', scout_id: params[:scout_id]), class: "nav-link #{'active' if params[:filter] == 'submitted'}" do
        /     Turned In 
        /     - if current_scout.is_admin?
        /       = surround("(", ")") do
        /         = @active_event.take_orders.submitted.count
      
      / - if current_scout.is_admin?
      /   = form_tag assign_to_envelope_path  do
      /     %br
      /     .col-md-6
      /       .form-group.form-inline
      /         %label
      /           Open Envelopes:
      /         = select_tag :envelope_id, options_for_select(@open_envelopes.map{|oe| ["#{oe.name}",oe.id]}),  class: 'form-control'
      /         = submit_tag "Add to envelope", class: 'btn btn-success'
      /       %br
      /       %br
      /   .table-responsive
      /     %table.table.table-sm.small.card-text
      /       %thead
      /         %tr
      /           - if current_scout.is_admin? || current_scout.is_super_admin?
      /             %th.hidden-print
      /             %th Scout
      /           %th Customer
      /           %th Address
      /           %th Amount
      /           %th Payment
      /           %th Product
      /           - if current_scout.is_admin?
      /             %th
      /             %th.hidden Status
      /             %th.visible-print-block Delivered
      /             %th.hidden-print
      /             %th.hidden-print
      /             %th.hidden-print
      /       %tbody
      /         - @unassigned_take_orders.each do |take_order|
      /           - total = 0

      /           %tr
      /             - if current_scout.is_admin?
      /               %td
                      
      /                 = check_box_tag "take_orders[]", take_order.id
      /               %td
      /                 - if take_order.scout
      /                   = link_to take_order.scout.name, take_orders_path(scout_id: take_order.scout.id, filter: params[:filter])
      /             %td= take_order.customer_name
      /             %td= take_order.customer_address.truncate(30)
      /             %td
      /               - total += take_order.value
      /               = number_to_currency(take_order.value, precision: 0)
      /             %td
      /               = take_order.account.name if take_order.account
      /               - if take_order.account && take_order.account.is_credit_card?
      /                 %i.fa.fa-credit-card
      /               - elsif take_order.account && take_order.account.is_cash?
      /                 %i.fa.fa-money
      /             %td
      /               - take_order.take_order_line_items.each do |line_item|
      /                 = line_item.product.name
      /                 = surround("(", ")") do
      /                   = line_item.quantity
      /                 %br


      /             - if current_scout.is_admin?
      /               %td= nice_date_time_less(take_order.created_at)
      /               %td
      /                 - if take_order.status
      /                   %span.tag.tag-primary
      /                     - if take_order.status == 'submitted'
      /                       Turned In
      /                     - elsif take_order.status == 'received'
      /                       In Hand
      /                     - else
      /                       = take_order.status.capitalize
      /               %td.hidden-print
      /                 - if take_order.received? && take_order.take_order_line_items.any?
      /                   = button_to 'SUBMITTED', take_order_path(take_order, submitted: true), method: :patch, :data => { :confirm => 'Are you sure? This will close this Take Order to any further changes.' }, class: 'btn btn-danger btn-sm'
      /               %td.visible-print-block
      /                 %i.fa.fa-square-o.fa-2x
      /               %td.hidden-print
      /                 = link_to take_order do
      /                   %i.fa.fa-folder-open.fa-lg
      /               %td.hidden-print
      /                 - if take_order.in_hand?
      /                   = link_to take_order, :method => :delete, :data => { :confirm => 'Are you sure?' } do
      /                     %i.fa.fa-trash.fa-lg

      .row
        .col-md-12
          - @envelopes.each do |envelope|
            %h5
              = link_to envelope_path(envelope) do
                - if current_scout.is_admin?
                  %i.fa.fa-envelope
                  = envelope.name
                - else
                  %i.fa.fa-envelope
                  Order Form + Envelope
              - if current_scout.is_admin? && envelope.open?
                - if envelope.take_orders.any? 
                  = link_to "#", :data => { :confirm =>  "You need to move all take orders to another envelope before deleting this envelope"} do
                    %i.fa.fa-trash
                - else
                  = link_to envelope_path(envelope), method: :delete do
                    %i.fa.fa-trash
            - if current_scout.is_admin? && envelope.open?
              %p
                = link_to new_take_order_path(envelope_id: envelope.id), class: 'nav-link' do
                  New Take Order

            - if envelope.closed_at
              %b.small.text-muted
                Submitted:
                = nice_date_time(envelope.closed_at)
              %br
              %br

            .table-responsive
              %table.table.table-sm.small.card-text
                %thead
                  %tr
                    - if current_scout.is_admin? || current_scout.is_super_admin?
                      %th.hidden-print
                      %th Scout
                    %th Customer
                    %th Address
                    %th Amount
                    %th Payment
                    %th Product
                    - if current_scout.is_admin?
                      %th
                      %th.hidden Status
                      %th.visible-print-block Delivered
                      %th.hidden-print
                      %th.hidden-print
                      %th.hidden-print

                %tbody
                  - total = 0
                  - envelope.take_orders.each do |take_order|
                    %tr
                      - if current_scout.is_admin?
                        %td
                        %td
                          - if take_order.scout
                            = link_to take_order.scout.name, take_orders_path(scout_id: take_order.scout.id, filter: params[:filter])
                      %td= take_order.customer_name
                      %td= take_order.customer_address.truncate(30)
                      %td
                        - total += take_order.value
                        = number_to_currency(take_order.value, precision: 0)
                      %td
                        = take_order.account.name if take_order.account
                        - if take_order.account && take_order.account.is_credit_card?
                          %i.fa.fa-credit-card
                        - elsif take_order.account && take_order.account.is_cash?
                          %i.fa.fa-money
                      %td
                        - take_order.take_order_line_items.each do |line_item|
                          = line_item.product.name
                          = surround("(", ")") do
                            = line_item.quantity
                          %br


                      - if current_scout.is_admin?
                        %td= nice_date_time_less(take_order.created_at)
                        %td
                          - if take_order.status
                            %span.tag.tag-primary
                              - if take_order.status == 'submitted'
                                Turned In
                              - elsif take_order.status == 'received'
                                In Hand
                              - else
                                = take_order.status.capitalize
                        %td.hidden-print
                          - if take_order.received? && take_order.take_order_line_items.any?
                            = button_to 'SUBMITTED', take_order_path(take_order, submitted: true), method: :patch, :data => { :confirm => 'Are you sure? This will close this Take Order to any further changes.' }, class: 'btn btn-danger btn-sm'
                        %td.visible-print-block
                          %i.fa.fa-square-o.fa-2x
                        %td.hidden-print
                          = link_to take_order do
                            %i.fa.fa-folder-open.fa-lg
                        %td.hidden-print
                          - if take_order.in_hand?
                            = link_to take_order, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                              %i.fa.fa-trash.fa-lg
                  
                  %tr.hidden-print       
                    %td
                    %td
                    %td= number_to_currency(total, precision: 0)
                    %td
                    %td
                    - if current_scout.is_admin?
                      %th.hidden-print
                      %td.visible-print-block
                      %td.hidden-print
                      %td.hidden-print
            %br
          / # = paginate @take_orders