.row
  .col-md-12
    .card.card-block
      .card-title
        %h1.h1 Take Orders
      - unless current_scout.is_admin?
        %p.card-text.hidden-print
          Enter your door-to-door orders here or submit your order form to your Den Leader and they will be entered for you. 
      %table.table.card-text
        %thead
          %tr
            - if current_scout.is_admin? || current_scout.is_super_admin?
              %th Scout
            %th Customer
            %th Address
            %th Amount
            %th Product
            %th.hidden Status
            %th.visible-print-block Delivered
            %th.hidden-print
            %th.hidden-print


        %tbody
          - total = 0
          - @take_orders.each do |take_order|
            %tr
              - if current_scout.is_admin? || current_scout.is_super_admin?
                %td= take_order.scout.name if take_order.scout
              %td= take_order.customer_name
              %td= take_order.customer_address
              %td
                - total += take_order.value
                = number_to_currency(take_order.value, precision: 0)
              %td
                - take_order.take_order_line_items.each do |line_item|
                  = line_item.product.name
                  = surround("(", ")") do
                    = line_item.quantity
                  %br
              %td
                - if take_order.status
                  %span.tag.tag-primary= take_order.status.capitalize
              %td.visible-print-block
                %i.fa.fa-square-o.fa-2x
              %td.hidden-print
                = link_to take_order do
                  %i.fa.fa-folder-open.fa-lg
              %td.hidden-print
                - if take_order.received? || take_order.submitted?
                  = link_to take_order, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                    %i.fa.fa-trash.fa-lg
          %tr.hidden-print
            - if current_scout.is_admin? || current_scout.is_super_admin?
              %td            
            %td
              = link_to new_take_order_path do
                %i.fa.fa-plus.fa-lg
            %td
            %td= number_to_currency(total, precision: 0)
            %td
            %td
            %td.hidden-print
            %td.hidden-print

      = paginate @take_orders


= render 'legend'