.row
  .col-md-12
    .card
      .card-block
        .card-title 
          %h2 Direct Sale

        = form_for @direct_sale do |f|
          = render 'errors', target: @direct_sale

          - if current_scout.is_admin?
            .form-group
              = f.label :scout
              = f.collection_select :scout_id, @unit.scouts.not_admin.order(:first_name), :id, :first_name
          .form-group
            = f.label :product
            %br
            = f.collection_select :product_id, @active_event.products.order(:name), :id, :name, {:include_blank => "Select a product"}, class: 'form-control'
          .row
            .col-md-4
              .form-group
                = f.label 'Enter quantity sold'
                = f.number_field :quantity,class: 'form-control'
                / = f.select :quantity, options_for_select(['1','2','3','4','5','6','7','8','9','10'], selected: f.object.quantity),{:include_blank => "Select a quantity"},class: 'form-control'
          / .form-group
          /   = f.label :amount
          /   = f.text_field :amount, class: 'form-control'
          .actions
            = f.submit 'Save', class: 'btn btn-success'
