.row
  .col-md-12
    .card.card-block
      .card-title
        %h1.h1 Direct Sales
      - if @direct_sales.any?
        %p.card-text.hidden-print
          Enter your door-to-door orders here or drop off your order form and collection enveloper at any Site Sale and they will be entered for you. 
      %table.table.card-text
        %thead
          %tr
            - if current_scout.is_admin? || current_scout.is_super_admin?
              %th Scout
            %th Product
            %th Quantity
            %th Price
            %th Amount
            %th Status
            %th
            %th


        %tbody
          - total = 0
          - @direct_sales.each do |direct_sale|
            %tr
              - if current_scout.is_admin? || current_scout.is_super_admin?
                %td= direct_sale.scout.name if direct_sale.scout
              %th= direct_sale.product.name
              %th= direct_sale.quantity
              %th= direct_sale.price
              %td
                - total += direct_sale.amount
                = number_to_currency(direct_sale.amount)
              %td
                - if direct_sale.status
                  %span.tag.tag-info= direct_sale.status.capitalize

              %td
                - if current_scout.is_admin? && direct_sale.status == 'open'
                
                  = button_to 'PAID', direct_sale_path(direct_sale, paid: true), method: :patch, class: 'btn btn-default'
              %td
                = link_to edit_direct_sale_path(direct_sale) do
                  %i.fa.fa-pencil.fa-lg
              %td
                - unless direct_sale.status == 'open' 
                  = link_to direct_sale, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                    %i.fa.fa-trash.fa-lg                  
          - if current_scout.is_admin?
            %tr
              %td
                = link_to new_direct_sale_path do
                  %i.fa.fa-plus.fa-lg
              %td
              %td
              %td
              %td
          
          - if @direct_sales.any?
            %tr

              - if current_scout.is_admin? || current_scout.is_super_admin?
                %td
              %td
              %td
              %td
              %td= number_to_currency(total)
              %td
              %td
              %td
          - else
            .alert.alert-info
              Drop off your Direct Sale order form/collection envelope as often as you want to any Site Sale and you'll see all your direct door-to-door sales entered here. You can also pick up more order forms and collections envelopes at any Site Sale.



      = paginate @direct_sales
