.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h1 Scout Prize Selections

        %table.table.table-sm
          %tr
            %th Scout
            %th Total Sales
            %th Prize
            %th Amount
            %th
            %th Is Complete
            %th Is Approved
          - @scout_prizes.each do |scout_prize|
            %tr
              %td= scout_prize.scout.name
              %td= number_to_currency(scout_prize.scout.total_sales(@active_event), precision: 0)
              %td= scout_prize.prize.name
              %td= number_to_currency(scout_prize.prize.amount, precision: 0)
              %td= scout_prize.prize.source.capitalize
              %td= scout_prize.is_complete
              %td= nice_date_time(scout_prize.is_complete_at) if scout_prize.is_complete_at
              %td= scout_prize.is_approved

.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h3 Scouts That Need to Select Prizes

        %table.table.table-sm
          %tr
            %th Scout
            %th Sales
          - @scouts_with_prizes.each do |scout|
            %tr
              %td= scout.name
              %td= number_to_currency(scout.total_sales(@active_event))