.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h1 Scout Prize Selections

        %table.table.table-sm
          %tr
            %th Scout
            %th Prize
            %th Amount
            %th Is Complete
            %th Is Approved
          - @scout_prizes.each do |scout_prize|
            %tr
              %td= scout_prize.scout.name
              %td= scout_prize.prize.name
              %td= scout_prize.prize.amount
              %td= scout_prize.is_complete
              %td= nice_date_time(scout_prize.is_complete_at) if scout_prize.is_complete_at
              %td= scout.prize.is_approved