.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h3
            Scout Site Sales
        %table.table
          %thead
            %tr
              %th Scout
              %th Site sale
              %th Hours worked
              %th Credited Sales
              %th
              %th

          %tbody
            - @scout_site_sales.each do |scout_site_sale|
              %tr
                %td= link_to scout_site_sale.scout.name, scout_path(scout_site_sale.scout)
                %td= link_to scout_site_sale.site_sale.name, site_sale_path(scout_site_sale.site_sale)
                %td= scout_site_sale.hours_worked
                %td= number_to_currency(scout_site_sale.site_sale.sales(scout_site_sale.scout))
                %td= link_to 'Edit', edit_scout_site_sale_path(scout_site_sale)
                %td= link_to 'Destroy', scout_site_sale, :method => :delete, :data => { :confirm => 'Are you sure?' }

        %br

        = link_to 'New Scout site sale', new_scout_site_sale_path
