.row
  .col-md-6
    .card
      .card-block
        
        %h2.card-title Stock Movement
        = form_for @stock do |f|
          - if @stock.errors.any?
            #error_explanation
              %h2= "#{pluralize(@stock.errors.count, "error")} prohibited this stock from being saved:"
              %ul
                - @stock.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :date
            = f.date_select :date

          .form-group
            .field
              = f.label :product
              = f.collection_select :product_id, @products, :id, :name, {prompt: "Select a Product"}, {class: 'form-control'}
          .form-group
            .field
              = f.label :quantity
              = f.number_field :quantity, class: 'form-control'
          .form-group
            = f.label :location
            %br
            = f.select :location, options_for_select(Stock::LOCATIONS, selected: f.object.location), {}, class: 'form-control'
          .form-group
            = f.label :description
            = f.text_field :description, class: 'form-control'
          / .form-group
          /   = f.label :movement_with_warehouse
          /   %p.small Check her if this a movement with the warehouse
          /   = f.check_box :movement_with_warehouse,  class: 'form-control'
          .form-group
            = f.label :is_transfer_from_warehouse
            %p.small Check her if this a transfer from the warehouse
            = f.check_box :is_transfer_from_warehouse,  class: 'form-control'

          .form-group
            = f.label :is_transfer_from_bsa
            %p.small Check her if this is a transfer of product from the BSA
            = f.check_box :is_transfer_from_bsa,  class: 'form-control'
          .actions
            = f.submit 'Save', class: 'btn btn-green'
