.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h1
            Stock

            .visible-print-inline
              = "-"
              = params[:location].titleize if params[:location]
        
        .pull-right.hidden-print
          = form_tag stocks_path(location: params[:location]), method: :get do
            = date_select "", :date, default: @date
            = hidden_field "", :location, value: params[:location]
            = submit_tag "Reload", class: 'btn btn-success'

        %ul.nav.nav-tabs.hidden-print
          - @locations.each do |location|
            %li.nav-item
              = link_to location.location.titleize, stocks_path(location: location.location), class: "nav-link #{params[:location] == location.location ? 'active' : nil}"
          %li.nav-item= link_to "All", stocks_path(all: true), class: "nav-link #{!params[:location] ? 'active' : nil}"

        

        %br
        .table-responsive
          %table.table.table-sm
            %thead
              %tr
                %th
                %th.text-xs-center Quantity
                %th Retail Price
                %th.text-xs-right Retail Value


            %tbody
              - total = 0
              - @stocks_hash.each do |key, value|
                - product = Product.find(key)
                - next unless product.is_physical_inventory
                - quantity = value
                %tr
                  %td
                    %b= link_to product.name, product_path(product)
                    - if quantity <= 0 && product.is_physical_inventory
                      .tag.tag-danger SOLD OUT
                  %td.text-xs-center= quantity
                  / %td= location.titleize if location
                  %td= number_to_currency(product.retail_price)
                  %td.text-xs-right
                    - total += quantity * product.retail_price
                    = number_to_currency(quantity * product.retail_price)

                    
              %tr.hidden-print
                %td
                  = link_to new_stock_path, class: 'hidden-print' do
                    %i.fa.fa-plus.fa-lg
                  .visible-print-block= nice_date_time(Time.current)
                %td
                %td
                %td.text-xs-right= number_to_currency(total)


