.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h1 Stock
        %p= link_to "Ledger", stocks_ledger_path
        %table.table.table-sm
          %thead
            %tr
              %th Product
              %th Quantity
              %th Location
              %th Retail Price
              %th Retail Value
              / %th

          %tbody
            - total = 0
            - @stocks_hash.each do |key, value|
              - product = Product.find(key[0])
              - location = key[1]
              - quantity = value
              %tr
                %td= product.name
                %td= quantity
                %td= location.titleize if location
                %td= number_to_currency(product.retail_price)
                %td
                  - total += quantity * product.retail_price
                  = number_to_currency(quantity * product.retail_price)
                / %td= link_to 'Destroy', stock, :method => :delete, :data => { :confirm => 'Are you sure?' }
            %tr
              %td
                = link_to new_stock_path do
                  %i.fa.fa-plus.fa-lg
              %td
              %td
              %td
              %td= number_to_currency(total)
              / %td

