= form_tag stock_transfers_report_date_path, class: 'd-print-none' do
  = select_date(date = Date.current)
  = submit_tag 'Submit', class: 'btn btn-sm'
  %br
  %br

%h2 Site Sale Transfer and Balance
%p= @new_date if @new_date

%table.table.table-sm.table-transfers.borderless
  %tr
    %td Product
    %td Transfer
    %td Balance
  - @transfers.each do |t|
    %tr
      %td= t[0][0]
      %td= t[1]
      %td= Stock.where(product_id: t[0][1], location: 'site sales').sum(:quantity)
      %td.outline-cell
    %tr
      %td
      %td
      %td
