- if @active_event
  .card
    .card-block.my-sales
      %h1.card-title
        - if current_scout.is_admin?
          Sales
        - else
          My Sales
      
      - grand_total = 0
      %table.table.card-text
        - if @active_event.is_take_orders_enabled?
          %tr
            %th.take_orders(colspan=2)
              = link_to "Take Orders", take_orders_path
            %td.text-right
              - if current_scout.admin?
                - total = TakeOrder.sales(@active_event)
              - else
                - total = current_scout.take_order_sales(@active_event)
              = number_to_currency(total, precision: 0)
              - grand_total += total          

          %tr
            %td
            %th
              = link_to "Turned in", take_orders_path
            %td.text-right
              - if current_scout.admin?
                - total = TakeOrder.sales(@active_event, true)
              - else
                - total = current_scout.take_order_sales(@active_event, true)
              = number_to_currency(total, precision: 0)
          %tr
            %td
            %th
              = link_to "Not turned in", take_orders_path
            %td.text-right
              - if current_scout.admin?
                - total = TakeOrder.sales(@active_event, false)
              - else
                - total = current_scout.take_order_sales(@active_event, false)
              = number_to_currency(total, precision: 0)

        - if @active_event.is_online_enabled?
          %tr
            %th.online_sales(colspan=2)
              = link_to "Online Sales", online_sales_path
            %td.text-right.online_sales_amount
              - total = 0
              - if current_scout.admin?
                - query = OnlineSale.where(event_id: @active_event.id)
              - else
                - query = current_scout.online_sales.where(event_id: @active_event.id)
              - query.each do |online_sale|
                - total += online_sale.amount
              = number_to_currency(total, precision: 0)  
              - grand_total += total

        - if @active_event.is_site_sales_enabled?
          %tr
            %th.site_sales(colspan=2)
              = link_to "Site Sales", site_sales_path
            %td.text-right
              - if current_scout.admin?
                - amount = @active_event.site_sales.joins(:site_sale_line_items).sum(:value)
              - else
                - amount = @active_event.total_site_sales_per_hour_worked * current_scout.event_site_sale_hours_worked(@active_event)
              = number_to_currency(amount, precision: 0)
              - grand_total += amount           
    
        %tr
          %th(colspan=2) Total Sales
          %td.text-right
            = number_to_currency(grand_total, precision: 0)
