.card
  .card-block
    %h5.card-title Quick Links

    %ul.card-text
      - if current_scout.admin?
        %li= link_to "Income: See where we stand", income_statement_path
        %li= link_to "Make a Bank deposit", bank_deposit_path
        - if current_scout.is_site_sales_admin?
          %li= link_to "Site Sales Admin", site_sales_path
        - if current_scout.is_take_orders_admin?
          %li= link_to "Take Orders Admin", site_sales_path


      - unless current_scout.admin?
        %li= link_to "See your Site Sales", site_sales_path
        %li= link_to "Enter your Take Orders", take_orders_path
        %li= link_to "Check out the Prizes!", take_orders_path