.card.text-white.bg-warning.mb-3
  .card-body
    .selling-tips.card-text
      %h3 SELLING TIPS
      %ul
        %li
          %strong Be Neat
          = '- always wear your uniform'
        %li
          %strong Be Prepared
          = '- know your products and what you are going to say'

        %li
          %strong Maintain Eye Contact
          = '- be confident'

        %li
          %strong Speak Loudly & Clearly

        %li
          %strong Always Be Polite & Courteous

        %li
          %strong Thank Everyone
          = "- even the people who don't buy anything"

        %li
          %strong Keep Moving
          = '- the more people you approach and talk to, the more popcorn you will sell'

        %li
          %strong Keep Smiling