- if current_scout.sign_in_count < 5
  = render 'welcome'

.row
  %br
  - @events.each do |event|
    .col-md-6
      .card
        .card-block
          .card-title
            %h2
              - unless current_scout.is_admin?
                = current_scout.name

            %p.lead= event.name
          - grand_total = 0
          %table.table
            %tr
              %th
                = link_to "Take Orders", take_orders_path
              %td.text-xs-right
                - total = 0
                - if current_scout.is_admin?
                  - query = TakeOrder.where(event_id: event.id)
                - else
                  - query = current_scout.take_orders.where(event_id: event.id)
                - query.each do |take_order|
                  - total += take_order.value
                = number_to_currency(total, precision: 0)
                - grand_total += total

            %tr
              %th
                = link_to "Direct Sales", direct_sales_path
              %td.text-xs-right
                - total = 0
                - if current_scout.is_admin?
                  - query = DirectSale.where(event_id: event.id)
                - else
                  - query = current_scout.direct_sales.where(event_id: event.id)
                - query.each do |direct_sale|
                  - total += direct_sale.amount
                = number_to_currency(total, precision: 0)  
                - grand_total += total

            %tr
              %th
                = link_to "Online Sales", online_sales_path
              %td.text-xs-right
                - total = 0
                - if current_scout.is_admin?
                  - query = OnlineSale.where(event_id: event.id)
                - else
                  - query = current_scout.online_sales.where(event_id: event.id)
                - query.each do |online_sale|
                  - total += direct_sale.amount
                = number_to_currency(total, precision: 0)  
                - grand_total += total

            %tr
              %th
                = link_to "Site Sales", site_sales_path
              %td.text-xs-right
                - if current_scout.is_admin?
                  - amount = @active_event.site_sales.joins(:site_sale_line_items).sum(:value)
                - else
                  - amount = @active_event.total_site_sales(current_scout) 
                = number_to_currency(amount, precision: 0)
                - grand_total += amount           

        
            %tr
              %th Total Sales
              %td.text-xs-right
                = number_to_currency(grand_total, precision: 0)

  .col-md-6
    .card
      .card-block
        .card-title
          %h2 Resources

        %ul
          %li= link_to "Site Sale Signup Sheet (View with your Parent)", "https://docs.google.com/spreadsheets/d/1yO7KX0E3OBasg2bCso0RZa74kTxiG-glYkt9b7PW5MY/edit?ts=57bf7d5d#gid=0", target: "_blank"
          %li= link_to "BSA Prize Sheet", "chief-seattle-popcorn-prizes.pdf", target: "_blank"
          %li= link_to "Order Form (Ask Parent to print)", "order-form-2016.pdf", target: "_blank"
          %li= link_to "Popcorn Product Display Page (Ask Parent to print)", "popcorn-product-2016.pdf", target: "_blank"


