.row
  .col-md-4
    - if current_scout.admin?
      = render 'get_started' unless @active_event && @active_event.set_up?
    = render 'my_sales'
  .col-md-4

    - if @active_event
      = render 'top_sellers'
      %br
      = render 'prizes'
  .col-md-4
    - if @active_event
      - if @active_event.is_site_sales_enabled?
        = render 'site_sales'
        %br
      = render 'important_dates'
      = render 'resources'