- if current_scout.last_sign_in_at.blank?
  = render 'welcome'



.row
  %br
  - @events.each do |event|
    .col-md-6
      .card
        .card-block
          .card-title
            %h4.text-xs-center
              - unless current_scout.is_admin?
                = current_scout.name
                %br
              = event.name
          - grand_total = 0
          %table.table
            %tr
              %th Take Orders
              %td.text-xs-right
                - total = 0
                - if current_scout.is_admin?
                  - query = TakeOrder.where(event_id: event.id)
                - else
                  - query = current_scout.take_orders.where(event_id: event.id)
                - query.each do |take_order|
                  - total += take_order.value
                = number_to_currency(total)
                - grand_total += total

            %tr
              %th Direct Sales
              %td.text-xs-right
                - total = 0
                - if current_scout.is_admin?
                  - query = DirectSale.where(event_id: event.id)
                - else
                  - query = current_scout.direct_sales.where(event_id: event.id)
                - query.each do |direct_sale|
                  - total += direct_sale.amount
                = number_to_currency(total)  
                - grand_total += total

            %tr
              %th Site Sales
              %td.text-xs-right
                - if current_scout.is_admin?
                  - amount = @active_event.site_sales.sum(:total_sales)
                - else
                  - amount = @active_event.total_site_sales(current_scout) 
                = number_to_currency(amount)
                - grand_total += amount           

        
            %tr
              %th Total Sales
              %td.text-xs-right
                = number_to_currency(grand_total)


