- if current_scout.sign_in_count < 7
  = render 'welcome'

.row
  %br

  .col-md-6
    .card
      .card-block
        .card-title
          %h2
            - unless current_scout.is_admin?
              = current_scout.name

          - if current_scout.is_admin
            %h2= @active_event.name
          - else
            %p.lead
              = @active_event.name          
        
        - grand_total = 0
        %table.table
          %tr
            %th
              = link_to "Take Orders", take_orders_path
            %td.text-xs-right
              - if current_scout.is_admin?
                - total = TakeOrder.sales(@active_event)
              - else
                - total = current_scout.take_order_sales(@active_event)
              = number_to_currency(total, precision: 0)
              - grand_total += total

          %tr
            %th
              = link_to "Online Sales", online_sales_path
            %td.text-xs-right
              - total = 0
              - if current_scout.is_admin?
                - query = OnlineSale.where(event_id: @active_event.id)
              - else
                - query = current_scout.online_sales.where(event_id: @active_event.id)
              - query.each do |online_sale|
                - total += online_sale.amount
              = number_to_currency(total, precision: 0)  
              - grand_total += total

          %tr
            %th
              = link_to "Site Sales", site_sales_path
            %td.text-xs-right
              - if current_scout.is_admin?
                - amount = @active_event.site_sales.joins(:site_sale_line_items).sum(:value)
              - else
                - amount = @active_event.total_site_sales_per_hour_worked * current_scout.event_site_sale_hours_worked(@active_event)
              = number_to_currency(amount, precision: 0)
              - grand_total += amount           
      
          %tr
            %th Total Sales
            %td.text-xs-right
              = number_to_currency(grand_total, precision: 0)

    .card
      .card-block
        .card-title
          %h4
            How to take a Successful
            %i.fa.fa-thumbs-o-up
            Take Order?

        %p.card-text
          Write down all the details on your order form. You can hand the form to your neighbor and say
          %b
            "Would you mind writing down your name and address?".
          If they also put their email, we'll even send them a receipt.

        %p.card-text
          Check off the products they want and write down the total amount which they can then pay by cash or check. If they pay by credit card, have your parent write down the order #.

    .card
      .card-block
        .card-title
          %h5 Resources

        %ul
          %li= link_to "Site Sale Signup Sheet (View with your Parent)", "https://docs.google.com/spreadsheets/d/1yO7KX0E3OBasg2bCso0RZa74kTxiG-glYkt9b7PW5MY/edit?ts=57bf7d5d#gid=0", target: "_blank"
          %li= link_to "BSA Prize Sheet", "chief-seattle-popcorn-prizes.pdf", target: "_blank"
          %li= link_to "Order Form (Ask Parent to print)", "order-form-2016.pdf", target: "_blank"
          %li= link_to "Popcorn Product Display Page (Ask Parent to print)", "popcorn-product-2016.pdf", target: "_blank"



  - if current_scout.is_admin?
    .col-md-6
      .card
        .card-block
          .card-title
            %h2 Sales
          %table.table
            %tr
              %th Product Sales
              %td.text-xs-right= number_to_currency(@product_sales)
            %tr
              %th Pack Donations
              %td.text-xs-right= number_to_currency(@pack_donations)

  .col-md-6
    .card
      .card-block
        .card-title
          %h3.text-xs-center
            %i.fa.fa-star.fa-log
            Top Sellers
            %i.fa.fa-star.fa-log
          %h5.text-xs-center= @active_event.name

        - if @top_sellers.any?
          
          .table-responsive
            %table.table
              - @top_sellers.each do |top_seller|
                - scout = Scout.find(top_seller[0])
                %tr
                  %th= scout.name
                  %td.text-xs-right= number_to_currency(top_seller[1], precision: 0)
        - else
          %p.text-xs-center No sales posted yet.
          

  / .row
  / - unless current_scout.is_admin?
  /   .col-md-6  
  /     .card
  /       .card-block
  /         .card-title
  /           %h4.text-xs-center
  /             How much money should I have?

  /         %h2.card-text.text-xs-center
  /           = number_to_currency(current_scout.take_orders.where(status: 'received').where(payment_account_id: Account.take_order(@unit).id).joins(:take_order_line_items).sum('take_order_line_items.value'))

  /       .card-footer
  /         %p.card-text.small
  /           Here we show you have much in cash and checks you should have in your collection envelope. For this number to be correct, you need to enter all of your Take Orders.



