.row
  .col-md-4
  .col-md-4
    .card
      .card-block
        .card-title
          %h3
            = current_scout.name

      %ul.list-group.list-group-flush
      %li.list-group-item
        Unit:
        = current_scout.unit.name
      %li.list-group-item
        Event:
        = current_scout.default_event.name if current_scout.default_event
        = link_to edit_scout_path(current_scout) do
          = "Set Event" unless current_scout.default_event
          %i.fa.fa-pencil
.row
  %br
  - @events.each do |event|
    .row
      .col-md-3
      .col-md-6
        .card
          .card-block
            .card-title
              %h4.text-xs-center
                = current_scout.name
                %br
                = event.name
            - grand_total = 0
            %table.table
              %tr
                %th Take Orders
                %td.text-xs-right
                  - total = 0
                  - current_scout.take_orders.where(event_id: event.id).each do |take_order|
                    - total += take_order.value
                  = number_to_currency(total)
                  - grand_total += total

              %tr
                %th Direct Sales
                %td.text-xs-right
                  - total = 0
                  - current_scout.direct_sales.where(event_id: event.id).each do |direct_sale|
                    - total += direct_sale.amount
                  = number_to_currency(total)  
                  - grand_total += total

              %tr
                %th Site Sales
                %td.text-xs-right
                  = number_to_currency(@active_event.total_site_sales(current_scout))  
                  - grand_total += @active_event.total_site_sales(current_scout)           

          
              %tr
                %th Total Sales
                %td.text-xs-right
                  = number_to_currency(grand_total)

