- if @active_event

  - if current_scout.is_unit_admin? && !@active_event.products?
    .row
      .col-md-12
        = render 'set_up_products'

  - if ( current_scout.is_unit_admin? || current_scout.is_prizes_admin? ) && !@active_event.prizes?
    .row
      .col-md-12
        = render 'set_up_prizes'

.row
  .col-md-4
    - if current_scout.admin?
      = render 'get_started' unless @active_event && @active_event.set_up?
    = render 'my_sales'
  .col-md-4

    - if @active_event
      = render 'top_sellers'
      = render 'prizes'
      = render 'site_sales_cash'
      = render 'take_orders_cash'
  .col-md-4
    - if @active_event
      - if @active_event.is_site_sales_enabled?
        = render 'upcoming_site_sales'
      = render 'important_dates'
      = render 'quick_links'
      = render 'resources'