.row
  .col-md-6
    .card
      .card-block
        .card-title
          %h2
            Event

        

        = form_for @event do |f|
          - if @event.errors.any?
            #error_explanation
              %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
              %ul
                - @event.errors.full_messages.each do |msg|
                  %li= msg


          .form-group
            = f.label :name
            = f.text_field :name, placeholder: 'Popcorn 2018', class: 'form-control'
          .form-group
            = f.label :is_active
            %p.card-text.small.text-muted When 'Active' an event is viewable by Unit scouts.
            = f.check_box :is_active, class: 'form-control'
          
          %br
          %h4 Commissions

          .form-group
            = f.label :unit_commission_percentage
            %p.small.text-muted Enter '35' for 35%.
            = f.text_field :unit_commission_percentage, class: 'form-control'

          .form-group
            = f.label :online_commission_percentage
            %p.small.text-muted Enter '35' for 35%.
            = f.text_field :online_commission_percentage, class: 'form-control'

          %br
          %h4 Features
          .row
            .col-md-4

              .form-group
                = f.label :take_orders
                = f.check_box :is_take_orders_enabled, class: 'form-control'
            .col-md-4
              .form-group
                = f.label :site_sales
                = f.check_box :is_site_sales_enabled, class: 'form-control'
            .col-md-4
              .form-group
                = f.label :online_ordering
                = f.check_box :is_online_enabled, class: 'form-control'
            .col-md-4
              .form-group
                = f.label :prizes
                = f.check_box :is_prizes_enabled, class: 'form-control'
            .col-md-4
              .form-group
                = f.label :show_top_sellers
                = f.check_box :show_top_sellers, class: 'form-control'

          %br
          %h4 Important Dates
          .form-group
            = f.label :prize_cart_ordering_starts
            %p.text-muted This date enables the 'Order' prize cart button
            = f.date_select :prize_cart_ordering_starts_at, {include_blank: true, start_year: 2017}, class: 'form-control'
          .form-group
            = f.label :prize_cart_ordering_ends
            %p.text-muted This date disables the 'Order' prize cart button
            = f.date_select :prize_cart_ordering_ends_at, {include_blank: true, start_year: 2017}, class: 'form-control'
          .form-group
            = f.label :take_orders_deadline
            %p.text-muted Take Orders can not be entered after this time
            = f.datetime_select :take_orders_deadline_at, {include_blank: true, start_year: 2017},  class: 'form-control'
          .form-group
            = f.label :number_of_top_sellers
            = f.number_field :number_of_top_sellers, class: 'form-control'
          .actions
            = f.submit 'Save', class: 'btn btn-default'
