.row
  .col-md-3
  .col-md-6
    .card
      .card-block
        .card-title
          %h1 Events
        %table.table.card-text.card-text
          / %thead
          /   %tr
          /     - unless current_scout.is_admin?
          /       %th Unit
          /     %th          
          /     %th
          /     %th
          /     %th
          /     - if current_scout.is_admin?
          /       %th
          /       %th
          /       %th

          %tbody
            - @events.each do |event|
              %tr
                - unless current_scout.is_admin?
                  %td= event.unit.name
                %td
                  - if event == current_scout.default_event
                    %i.fa.fa-check   
                %td
                  - if event == current_scout.default_event
                    = event.name
                  - else
                    = link_to event.name, event
                %td= event.is_active? ? "" : "Closed"
                
                - if current_scout.is_admin?
                  %td
                    = link_to edit_event_path(event) do
                      %i.fa.fa-pencil.fa-lg
                  %td
                    = link_to event, :method => :delete, :data => { :confirm => 'WARNING - Are you sure? This will result in all related event information to be destroyed.' } do
                      %i.fa.fa-trash.fa-lg
            - if current_scout.is_admin? && @unit
              %tr
                %td
                  = link_to new_event_path do
                    &nbsp;
                    %i.fa.fa-plus
                %td
                %td
                %td
                %td
                %td
