.row
  - @events.each do |event|
    .col-md-6
      .card
        .card-block
          .text-xs-center
            .card-title 
              %h3
                = event.name
                = link_to edit_event_path(event) do
                  %i.fa.fa-pencil
          %table.table.card-text.card-text

            %tr
              %th Active
              %td.text-xs-right
                - if event.is_active
                  %i.fa.fa-toggle-on.fa-lg.text-success
                - else
                  %i.fa.fa-toggle-off.fa-lg.text-danger

            %tr
              %th
                Resources
                %br
                - event.resources.each do |resource|
                  = link_to resource.url, target: '_blank' do
                    = resource.name
                  = link_to event_resource_path(event, resource), method: :delete do
                    %i.fa.fa-trash.fa-lg
                  %br
              %td.text-xs-right
                = link_to new_event_resource_path(event) do
                  %fa.fa.fa-plus.fa-lg
                %br


            %tr
              %th Commission %:
              %td.text-xs-right= number_to_percentage(event.unit_commission_percentage, precision: 2)

            %tr
              %th Online is enabled?
              %td.text-xs-right
                - if event.is_online_enabled
                  %i.fa.fa-check

            %tr
              %th Online commission %:
              %td.text-xs-right= number_to_percentage(event.online_commission_percentage, precision: 2)

            - if event.prizes?
              %tr
                %th Prize cart ordering starts:
                %td.text-xs-right= nice_date_compact(event.prize_cart_ordering_starts_at) if event.prize_cart_ordering_starts_at

              %tr
                %th Prize cart ordering ends:
                %td.text-xs-right= nice_date_compact(event.prize_cart_ordering_ends_at) if event.prize_cart_ordering_ends_at
            - else
              %tr
                %th Prizes
                %td.text-xs-right Disabled

              
            %tr
              %th Take orders deadline:
              %td.text-xs-right= nice_date_compact(event.take_orders_deadline_at) if event.take_orders_deadline_at

            %tr
              %th Number of Top Sellers:
              %td.text-xs-right= event.number_of_top_sellers

          - if current_scout.is_super_admin?

            .text-xs-center
              = link_to event, :method => :delete, class: 'btn btn-danger', :data => { :confirm => 'WARNING - Are you sure? This will result in all related event information to be destroyed.' } do
                %i.fa.fa-trash-o
                DESTROY EVENT


.row
  .col-md-6
    = link_to new_event_path do
      %i.fa.fa-plus.fa-lg
      Add a new Event
