.row
  .col-md-12
    %p= link_to "Create a new Event", new_event_path

.row
  - @events.each do |event|
    .col-md-6
      .card
        .card-header.text-xs-center
          %h1
            = event.name
            = link_to edit_event_path(event) do
              %i.fa.fa-pencil
        .card-block
          %table.table.card-text.card-text

            %tr
              %th Active
              %td.text-xs-left
                - if event.is_active
                  %i.fa.fa-toggle-on.fa-lg
                - else
                  %i.fa.fa-toggle-off.fa-lg


            %tr
              %th Commission percentage
              %td.text-xs-left= number_to_percentage(event.unit_commission_percentage, precision: 2)

            %tr
              %th Online commission percentage
              %td.text-xs-left= number_to_percentage(event.online_commission_percentage, precision: 2)

            - if event.prizes?
              %tr
                %th Prize cart ordering starts at
                %td.text-xs-left= nice_date(event.prize_cart_ordering_starts_at) if event.prize_cart_ordering_starts_at

              %tr
                %th Prize cart ordering ends at
                %td.text-xs-left= nice_date(event.prize_cart_ordering_ends_at) if event.prize_cart_ordering_ends_at
            - else
              %tr
                %th Prizes
                %td.text-xs-left Disabled

              
            %tr
              %th Take orders deadline at
              %td.text-xs-left= nice_date(event.take_orders_deadline_at) if event.take_orders_deadline_at

            %tr
              %th Number of Top Sellers
              %td.text-xs-left= event.number_of_top_sellers

        - if current_scout.is_super_admin?
          .card-footer
            .text-xs-center
              = link_to event, :method => :delete, class: 'btn btn-danger', :data => { :confirm => 'WARNING - Are you sure? This will result in all related event information to be destroyed.' } do
                %i.fa.fa-trash-o
                DESTROY THIS EVENT

