.row
  - @events.each do |event|
    .col-md-6
      .card{ class: event.is_active? ? 'active' : 'inactive' }
        .card-block
          .card-title 
            - if current_scout.is_unit_admin?
              .pull-right
                = link_to edit_event_path(event) do
                  %i.fa.fa-pencil
            %h3
              = event.name
              - if event.is_active
                .badge.badge-success
                  Active
            
          %table.table.card-text.card-text.table-sm

            %tr
              %td Contact:
              %td.text-right= event.admin_email




            %tr
              %td Commission %:
              %td.text-right= number_to_percentage(event.unit_commission_percentage, precision: 2)


            %tr
              %td Online commission %:
              %td.text-right= number_to_percentage(event.online_commission_percentage, precision: 2)


            %tr
              %td
                Resources

              %td.text-right
                = link_to resources_path do
                  View

            %tr
              %td Online is enabled?
              %td.text-right
                - if event.is_online_enabled
                  %i.fa.fa-check

            %tr
              %td Prizes
              %td.text-right
                - if event.is_prizes_enabled?
                  %i.fa.fa-check
            %tr
              %td Prize ordering starts:
              %td.text-right= nice_date_compact(event.prize_cart_ordering_starts_at) if event.prize_cart_ordering_starts_at

            %tr
              %td Prize ordering ends:
              %td.text-right= nice_date_compact(event.prize_cart_ordering_ends_at) if event.prize_cart_ordering_ends_at

            %tr
              %td Site Sales enabled?
              %td.text-right
                - if event.is_site_sales_enabled
                  %i.fa.fa-check
              

            %tr
              %td Take Orders is enabled?
              %td.text-right
                - if event.is_take_orders_enabled
                  %i.fa.fa-check
              
            %tr
              %td Take Orders deadline:
              %td.text-right= nice_date_compact(event.take_orders_deadline_at) if event.take_orders_deadline_at

            %tr
              %td Show Top Sellers:
              %td.text-right
                - if event.show_top_sellers
                  %i.fa.fa-check

            %tr
              %td Number of Top Sellers:
              %td.text-right= event.number_of_top_sellers

          - if current_scout.is_unit_admin?

            .text-center
              - unless event.is_active?
                = link_to event_activate_path(event), class: 'btn btn-warning', :data => { :confirm => "WARNING - Activating an Event will change the event for your Unit's Scouts." } do
                  %i.fa.fa-check-circle-o
                  ACTIVATE
                &nbsp;
              = link_to event, :method => :delete, class: 'btn btn-danger', :data => { :confirm => 'WARNING - Are you sure? This will result in all related event information to be destroyed. This action is NOT reversible.' } do
                %i.fa.fa-trash-o
                DESTROY EVENT

- if current_scout.is_unit_admin?
  .row
    .col-md-6
      .card
        .card-block
          %p.card-text
            = link_to new_event_path do
              %i.fa.fa-plus.fa-lg
              Add a new Event
