.row
  .col-md-12
    .card
      .card-block
        = form_for @site_sale do |f|
          - if @site_sale.errors.any?
            #error_explanation
              %h2= "#{pluralize(@site_sale.errors.count, "error")} prohibited this site_sale from being saved:"
              %ul
                - @site_sale.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :event
            %br
            = f.collection_select :event_id, @unit.events.order(:name), :id, :name, {}, class: 'form-control'
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'

          .form-group
            = f.label :total_sales
            = f.text_field :total_sales, class: 'form-control'

          .actions
            = f.submit 'Save', class: 'btn btn-success'
