.row
  .col-md-12

    %h1 Site Sales

    - unless current_scout.admin?
      %p.card-text.alert.alert-info.text-muted
        %i.fa.fa-info-circle
        The sales credit you get for working at a Site Sale will be determined by taking the sales from ALL Site Sales and proportionately allocating them based on the total number of hours that are worked. Your credited sales may change as more Site Sales are completed.

    - if @site_sales.any?
      .table-responsive
        %table.table.card-text.table-sm
          %thead
            %tr
              %th Site Sale
              - if current_scout.admin?
                %th.text-center Hours
              - else
                %th.text-center Your hours
              - if current_scout.admin?
                %th.text-center Sales
              - else
                %th.text-center Your credited Sales
              - if current_scout.is_site_sales_admin?
                %th.text-center.d-print-none Status
                %th.d-print-none

          %tbody
            - total = 0
            - total_sales = 0
            - @site_sales.each do |site_sale|
              %tr
                %td
                  - if current_scout.admin?
                    = link_to site_sale.full_name, site_sale_path(site_sale)
                  - else
                    = site_sale.full_name
                %td.text-center{class: site_sale.closed? ? nil : 'text-muted' }
                  = site_sale.hours_worked(current_scout.admin? ? nil : current_scout)
                %td.text-center{class: site_sale.closed? ? nil : 'text-muted' }
                  = number_to_currency(site_sale.sales(current_scout.admin? ? nil : current_scout), precision: 0)
                - if current_scout.is_site_sales_admin?
                  %td.admin-info.text-center.d-print-none
                    - if site_sale.closed?
                      %h5
                        %span.badge.badge-danger.badge-lg Closed
                    - else
                      %h5
                        %span.badge.badge-success Open
                  %td.d-print-none.text-right.admin-links
                    - if current_scout.is_site_sales_admin? && site_sale.open? 
                      = link_to site_sale, :method => :delete, :data => { :confirm => 'Are you sure? This will destroy the Site Sale and all entered information. This is NOT reversible.' } do
                        %i.fa.fa-trash.fa-lg
            %tr
              %td 
              %td.text-center
                = @active_event.total_site_sale_hours_worked(current_scout.admin? ? nil : current_scout, true)        
              %td.text-center
                = number_to_currency(@active_event.total_site_sale_sales(current_scout.admin? ? nil : current_scout, true), precision: 0)
              - if current_scout.is_site_sales_admin?
                %td.d-print-none

      = paginate @site_sales


    - if current_scout.is_site_sales_admin?
      = link_to new_site_sale_path, class: 'card-text new-site-sale-link' do
        %i.fa.fa-plus.fa-lg.d-print-none 
