.row
  .col-md-12
    .card
      .card-block
        %h2.card-title Site Sales

        - if @site_sales.any?
          .table-responsive
            %table.table.card-text
              %thead
                %tr
                  %th Site Sale
                  %th.text-center Hours
                  - if current_scout.admin?
                    %th.text-center Sales
                  - else
                    %th.text-center Credited Sales
                  - if current_scout.is_site_sales_admin?
                    %th.text-center Status
                    %th.hidden-print

              %tbody
                - total = 0
                - total_sales = 0
                - @site_sales.each do |site_sale|
                  %tr
                    %td
                      - if current_scout.admin?
                        = link_to site_sale.full_name, site_sale_path(site_sale)
                      - else
                        = site_sale.full_name
                    %td.text-center{class: site_sale.closed? ? nil : 'text-muted' }
                      = site_sale.hours_worked(current_scout.admin? ? nil : current_scout)
                    %td.text-center{class: site_sale.closed? ? nil : 'text-muted' }
                      = number_to_currency(site_sale.sales(current_scout.admin? ? nil : current_scout), precision: 0)
                    - if current_scout.is_site_sales_admin?
                      %td.admin-info.text-center
                        - if site_sale.closed?
                          %h5
                            %span.badge.badge-danger.badge-lg Closed
                        - else
                          %h5
                            %span.badge.badge-success Open
                      %td.hidden-print.text-right.admin-links
                        = link_to site_sale do
                          %i.fa.fa-folder-open.fa-lg
                        - if current_scout.is_site_sales_admin? && site_sale.open? 
                          / =link_to site_sale_tracking_sheet_path(site_sale) do
                          /   %i.fa.fa-print.fa-lg

                          = link_to site_sale, :method => :delete, :data => { :confirm => 'Are you sure? This will destroy the Site Sale and all entered information. This is NOT reversible.' } do
                            %i.fa.fa-trash.fa-lg
                %tr
                  %td 
                  %td.text-center
                    = @active_event.total_site_sale_hours_worked(current_scout.admin? ? nil : current_scout, true)        
                  %td.text-center
                    = number_to_currency(@active_event.total_site_sale_sales(current_scout.admin? ? nil : current_scout, true), precision: 0)
                  - if current_scout.is_site_sales_admin?
                    %td.hidden-print

          = paginate @site_sales


        - if current_scout.is_site_sales_admin?
          = link_to new_site_sale_path, class: 'card-text new-site-sale-link' do
            %i.fa.fa-plus.fa-lg.hidden-print 
