.row
  .col-md-12
    .card
      .card-block
        %h2.card-title Site Sales

        - if @site_sales.any?
          .table-responsive
            %table.table.card-text
              %thead
                %tr
                  %th Site Sale
                  - unless current_scout.admin?
                    %th Hours
                  - if current_scout.admin?
                    %th
                    %th Hours
                    %th Sales
                  - unless current_scout.admin?
                    %th Credited Sales
                  - if current_scout.admin?
                    %th Status
                    %th.hidden-print

              %tbody
                - total = 0
                - total_sales = 0
                - hours = 0
                - @site_sales.each do |site_sale|
                  %tr
                    %td
                      - if current_scout.admin?
                        = link_to site_sale.full_name, site_sale_path(site_sale)
                      - else
                        = site_sale.full_name
                    %td
                      - if current_scout.admin?
                        - hours += site_sale.scout_site_sales.sum(:hours_worked)
                      - else
                        - hours_worked= site_sale.hours_worked(current_scout)
                        - hours += hours_worked if hours_worked
                      = hours_worked
                    - if current_scout.admin?
                      %td= site_sale.scout_site_sales.sum(:hours_worked)
                      %td
                        - total_sales += site_sale.total_sales
                        = number_to_currency(site_sale.total_sales, precision: 0)
                    - else
                      %td
                        - total += (site_sale.credited_sales(current_scout, @active_event) || 0)
                        = number_to_currency(site_sale.credited_sales(current_scout, @active_event), precision: 0)
                    - if current_scout.admin?
                      %td
                        - if site_sale.status == 'closed'
                          %span.badge.badge-danger= site_sale.status.titleize
                        - else
                          %span.badge.badge-success= site_sale.status.titleize
                      %td.hidden-print.text-right
                        = link_to site_sale do
                          %i.fa.fa-folder-open.fa-lg
                        - if current_scout.admin? && site_sale.open? 
                          =link_to site_sale_tracking_sheet_path(site_sale) do
                            %i.fa.fa-print.fa-lg

                        = link_to site_sale, :method => :delete, :data => { :confirm => 'Are you sure? This will destroy the Site Sale and all entered information. This is NOT reversible.' } do
                          %i.fa.fa-trash.fa-lg
                %tr
                  %td 
                  - if current_scout.admin?
                    %td     
                  %td
                    = hours               
                  %td
                    - if current_scout.admin?
                      = number_to_currency(total_sales, precision: 0)
                    - else
                      = number_to_currency(total, precision: 0)
                  %td.hidden-print
                  - if current_scout.admin?
                    %td.hidden-print
                    %td.hidden-print
                    


          = paginate @site_sales


        - if current_scout.admin?
          = link_to new_site_sale_path, class: 'card-text new-site-sale-link' do
            %i.fa.fa-plus.fa-lg.hidden-print 
