.row
  .col-md-12
    .card
      .card-block
        .row
          .col-md-6
            .card-title
              %h3
                Site Sale: 
                = @site_sale.full_name
                %span.lead
                  = link_to edit_site_sale_path(@site_sale) do
                    %i.fa.fa-pencil.hidden-print  

            - if current_scout.is_admin? && @site_sale.open? 
              %p
                =link_to site_sale_tracking_sheet_path(@site_sale) do
                  %i.fa.fa-print.fa-lg
                  Site Sale Transaction Sheet


          .col-md-6
            %h3.text-xs-right
              - if @site_sale.status == 'closed'
                %span.tag.tag-danger= @site_sale.status.capitalize
              - else
                %span.tag.tag-success= @site_sale.status.capitalize

        %table.table
          %thead
            %tr
              %th Product
              %th Quantity
              %th
              - if @site_sale.open?
                %th Available Qty
              %th Price
              %th Total
          %tbody
            - @line_items.each do |line_item|

              %tr
                %td= link_to line_item.product.name, product_path(line_item.product)
                - if @site_sale.open?
                  = form_for [@site_sale, line_item] do |f|
                    .form-group  
                      %td
                        = f.number_field :quantity, class: 'form-control'
                      %td
                        = f.submit 'Update', class: 'btn btn-success'
                - else
                  %td
                    = line_item.quantity
                  %td
                - if @site_sale.open?
                  %td
                    - if line_item.product.is_physical_inventory
                      = @unit.stocks.site_sales.where(product_id: line_item.product_id).sum(:quantity)
                    - else
                      N/A
                %td= number_to_currency( line_item.product.retail_price, precision: 0 )
                %td
                  = number_to_currency( line_item.value, precision: 0 )
                %td
                  - if @site_sale.open?
                    = link_to site_sale_site_sale_line_item_path(@site_sale, line_item), method: :delete do
                      %i.fa.fa-trash.fa-lg.hidden-print  

            
            %tr
              %td
                - if @site_sale.open?
                  = link_to new_site_sale_site_sale_line_item_path(@site_sale) do
                    %i.fa.fa-plus.fa-lg

              - if @site_sale.open?
                %td
              %td
              %td
              %td
              %td= number_to_currency( @total_sales, precision: 0 )

- if @site_sale.open? && current_scout.is_admin? && @site_sale.site_sale_line_items.any?
  .row
    .col-md-1
    .col-md-10
      .card
        .card-block
          .col-md-9
            %p.card-text.text-danger Pressing this button will Close this Site Sale to any future inventory, or payment method changes. Scout volunteers can be changed at any time.
          .col-md-3
            .card-text.text-xs-center= button_to 'CLOSE', site_sale_path(@site_sale, closed: true), method: :patch, class: 'btn btn-danger btn-lg hidden-print'
.row    
  .col-md-12
    .card
      .card-block
        .card-title
          %h3 Scout Volunteers
        - total_credited_sales = 0
        %table.table        
          %thead
            %tr
              %th Scout
              %th Hours worked
              %th Sales allocated
          %tbody
            - @scout_site_sales.each do |scout_site_sale|
              %tr
                %td= scout_site_sale.scout.name
                %td= scout_site_sale.hours_worked
                %td
                  = number_to_currency(@active_event.total_site_sales_per_hour_worked * scout_site_sale.hours_worked, precision: 0)
                - if current_scout.is_admin?
                  %td
                    = link_to site_sale_scout_site_sale_path(@site_sale.event_id, scout_site_sale), method: :delete do
                      %i.fa.fa-trash.fa-lg.hidden-print
            %tr
              %td
                - if current_scout.is_admin?
                  = link_to new_site_sale_scout_site_sale_path(@site_sale) do
                    %i.fa.fa-plus.fa-lg.hidden-print
              %td= @total_hours
              %td= number_to_currency(total_credited_sales, precision: 0)

.row    
  .col-md-6
    .card
      .card-block
        .card-title
          %h3 Payment Methods

        %table.table        
          %thead
            %tr
              %th Method
              %th Amount
              %th
              %th
          %tbody
            - @site_sale_payment_methods.each do |payment_method|
              %tr
                %td= payment_method.account.name if payment_method.account
                %td= number_to_currency(payment_method.amount)
                %td
                  - if @site_sale.open?
                    = link_to edit_site_sale_site_sale_payment_method_path(@site_sale, payment_method) do
                      %i.fa.fa-pencil.fa-lg
                %td
                  - if @site_sale.open?
                    = link_to site_sale_site_sale_payment_method_path(@site_sale, payment_method), method: :delete do
                      %i.fa.fa-trash.fa-lg.hidden-print

            %tr
              %td
              %td
                = number_to_currency(@site_sale_payment_methods.sum(:amount))
                - if @site_sale.payments_balance?
                  %i.fa.fa-check.fa-lg

        - if @site_sale.open?
          = link_to new_site_sale_site_sale_payment_method_path(@site_sale) do
            %i.fa.fa-plus.fa-lg.hidden-print

  - if current_scout.is_admin?  
    .col-md-6
      .card
        .card-block
          .card-title
            %h4 Log

          %table.table.card-text.table-sm
            %tr
              %th Created
              %td= nice_date_time_less(@site_sale.created_at)
            %tr
              %th Last updated
              %td= nice_date_time_less(@site_sale.updated_at)
            - if @site_sale.closed_at
              %tr
                %th Closed at
                %td= nice_date_time_less(@site_sale.closed_at)
            - if @site_sale.closed_by_id
              %tr
                %th Closed by
                %td= Scout.find(@site_sale.closed_by_id).name if Scout.find(@site_sale.closed_by_id)




.row
  .col-md-4
    %br
    .hidden-print
      = link_to site_sales_path do
        %i.fa.fa-arrow-left.fa-lg
        Back to Site Sales
%br
/ # = render 'legend'