.row
  .col-md-12
    .card
      .card-block
        .row
          .col-md-6
            .card-title
              %h3
                Site Sale: 
                = @site_sale.full_name
                %span.lead
                  = link_to edit_site_sale_path(@site_sale) do
                    %i.fa.fa-pencil

            - if current_scout.is_admin? && @site_sale.open? 
              %p
                =link_to site_sale_tracking_sheet_path(@site_sale) do
                  %i.fa.fa-print.fa-lg
                  Site Sale Transaction Sheet


          .col-md-6
            %h3.text-xs-right
              %span.tag.tag-primary= @site_sale.status.capitalize

        %table.table
          %thead
            %tr
              %th Product
              %th Quantity
              %th Price
              %th Total
          %tbody
            - @line_items.each do |line_item|

              %tr
                %td= link_to line_item.product.name, product_path(line_item.product)
                - if @site_sale.open?
                  = form_for [@site_sale, line_item] do |f|
                    .form-group  
                      %td
                        = f.number_field :quantity, class: 'form-control'
                      %td
                        = f.submit 'Update', class: 'btn btn-success'
                - else
                  %td
                    = line_item.quantity
                %td= number_to_currency( line_item.product.retail_price, precision: 0 )
                %td
                  = number_to_currency( line_item.value, precision: 0 )
                %td
                  - if @site_sale.open?
                    = link_to site_sale_site_sale_line_item_path(@site_sale, line_item), method: :delete do
                      %i.fa.fa-trash.fa-lg

            
            %tr
              %td
                - if @site_sale.open?
                  = link_to new_site_sale_site_sale_line_item_path(@site_sale) do
                    %i.fa.fa-plus.fa-lg

              %td
              %td
              %td= number_to_currency( @total_sales, precision: 0 )


        - if current_scout.is_admin? && @site_sale.open? && @site_sale.site_sale_line_items.any?
          = button_to 'CLOSE', site_sale_path(@site_sale, closed: true), method: :patch, class: 'btn btn-default'
.row    
  .col-md-12
    .card
      .card-block
        .card-title
          %h3 Scout Volunteers
        - total_credited_sales = 0
        %table.table        
          %thead
            %tr
              %th Scout
              %th Hours worked
              %th Sales allocated
          %tbody
            - @scout_site_sales.each do |scout_site_sale|
              %tr
                %td= scout_site_sale.scout.name
                %td= scout_site_sale.hours_worked
                %td
                  = number_to_currency(@active_event.total_site_sales_per_hour_worked * scout_site_sale.hours_worked, precision: 0)
                - if current_scout.is_admin?
                  %td
                    = link_to site_sale_scout_site_sale_path(@site_sale.event_id, scout_site_sale), method: :delete do
                      %i.fa.fa-trash.fa-lg
            %tr
              %td
                - if current_scout.is_admin?
                  = link_to new_site_sale_scout_site_sale_path(@site_sale) do
                    %i.fa.fa-plus.fa-lg
              %td= @total_hours
              %td= number_to_currency(total_credited_sales, precision: 0)


.row
  .col-md-4
    %br
    = link_to site_sales_path do
      %i.fa.fa-arrow-left.fa-lg
      Back to Site Sales
%br
/ # = render 'legend'