.row
  .col-md-6
    .card
      .card-block
        - if @deposit
          .card-title
            %h1 Bank Deposit
        = form_for @ledger do |f|
          - if @ledger.errors.any?
            #error_explanation
              %h2= "#{pluralize(@ledger.errors.count, "error")} prohibited this ledger from being saved:"
              %ul
                - @ledger.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label "From"
            %br
            = f.collection_select :from_account_id, @unit.accounts.order(:name), :id, :name, {}, class: 'form-control'

          .form-group
            = f.label "Deposit to:"
            %br
            = f.collection_select :account_id, @accounts, :id, :name, {}, class: 'form-control'
          - unless @deposit
            .form-group
              = f.label :description
              = f.text_field :description, class: 'form-control'
          .form-group
            = f.label :amount
            = f.text_field :amount, class: 'form-control'
          - unless @deposit
            .form-group
              = f.label "Bank deposit?"
              = f.check_box :is_bank_deposit, class: 'form-control'
          .form-group
            = f.label :date
            %br
            = f.date_select :date, {}, class: 'form-control'
          .actions
            = f.submit 'Save', class: 'btn btn-success'
