.row
  .col-md-12
    .card
      .card-body
        .card-title
          %h4 General Transaction

        %p.text-muted.small
          %i.fa.fa-info-circle.small
            Entering a transaction here requires you enter any additional related double-entry transactions or it will result in your event's financial statements not balancing.


        = form_for @ledger do |f|
          - if @ledger.errors.any?
            #error_explanation
              %h2= "#{pluralize(@ledger.errors.count, "error")} prohibited this ledger from being saved:"
              %ul
                - @ledger.errors.full_messages.each do |msg|
                  %li= msg

          .col-md-4
            .form-group
              = f.label 'Account:'
              %br
              = f.collection_select :account_id, @accounts, :id, :name, {}, class: 'form-control'
          .col-md-8
            .form-group
              = f.label 'Description'
              = f.text_field :description, class: 'form-control'
          
          .col-md-4
            .form-group
              = f.label 'Amount:'
              = f.text_field :amount, class: 'form-control'

            .form-group
              = f.label 'Date:'
              %br
              = f.date_select :date, {}, class: 'form-control'
          .actions
            = f.submit 'Save', class: 'btn btn-success'
