.row
  .col-md-12
    %h3
      .visible-print-inline= @active_event.name
      Balance Sheet


    .row
      .col-md-6
        .card
          .card-block
            .card-title
              %h5 Assets

            %table.table.card-text
              %tr
                %td Take Order cash
                %td.text-xs-right= number_to_currency(@take_order_cash)
              %tr
                %td Site Sale cash
                %td.text-xs-right= number_to_currency(@site_sale_cash)
              %tr
                %td BSA credit card payments
                %td.text-xs-right= number_to_currency(@bsa_credit_card_cash)
              %tr
                %td Square payments
                %td.text-xs-right= number_to_currency(@square_cash)
              %tr
                %td Due from Customers
                %td.text-xs-right= number_to_currency(@due_from_customers)
              %tr
                %td Union Bank deposits
                %td.text-xs-right= number_to_currency(@union_bank_cash)
              %tr
                %td Popcorn Inventory
                %td.text-xs-right= number_to_currency(@popcorn_inventory)
              %tr
                %th Total assets
                %th.text-xs-right= number_to_currency(@total_assets)


      .col-md-6
        .card
          .card-block
            .card-title
      
              %h5 Liabilities

            %table.table.card-text
              %tr
                %td Due to BSA
                %td.text-xs-right= number_to_currency(@due_to_bsa)
              %tr
                %td Product due to Customers
                %td.text-xs-right= number_to_currency(@product_due_to_customers)
              %tr
                %td Pack prizes
                %td.text-xs-right= number_to_currency(@pack_prizes)
              %tr
                %th Total liabilities
                %th.text-xs-right= number_to_currency(@total_liabilities)

      .col-md-6
        .card
          .card-block
            .card-title        
              %h5 Equity

            %table.table.card-text
              %tr
                %th Equity
                %th.text-xs-right= number_to_currency(@total_equity)