.row
  .col-md-12
    %h3
      .visible-print-inline= @active_event.name
      Balance Sheet


    .row
      .col-md-6
        .card
          .card-block
            .card-title
              %h5 Assets

            %table.table.card-text
              %tr

                %td(colspan=2) Take Order cash
                %td.text-right= number_to_currency(@take_order_cash)
              %tr
                %td(colspan=2) Site Sale cash
                %td.text-right= number_to_currency(@site_sale_cash)
              %tr
                %td(colspan=2) BSA credit card payments
                %td.text-right= number_to_currency(@bsa_credit_card_cash)
              %tr
                %td
                %td BSA credit card payments (Site Sales)
                %td.text-right= number_to_currency(@bsa_site_sales_credit_card_cash)
              %tr
                %td
                %td BSA credit card payments (Take Orders)
                %td.text-right= number_to_currency(@bsa_take_orders_credit_card_cash)
              %tr
                %td(colspan=2) BSA online accounts receivable
                %td.text-right= number_to_currency(@bsa_online_credits)
              %tr
                %td(colspan=2) Square payments
                %td.text-right= number_to_currency(@square_cash)
              %tr
                %td(colspan=2) Due from Customers
                %td.text-right= number_to_currency(@due_from_customers)
              %tr
                %td(colspan=2) Union Bank deposits
                %td.text-right= number_to_currency(@union_bank_cash)
              %tr
                %td(colspan=2) Popcorn Inventory
                %td.text-right= number_to_currency(@popcorn_inventory)
              %tr
                %th.top.bottom(colspan=2) Total assets
                %th.top.bottom.text-right= number_to_currency(@total_assets)


      .col-md-6
        .card
          .card-block
            .card-title
      
              %h5 Liabilities


            %table.table.card-test
              - total = 0
              - @liability_accounts.each do |account|
                %tr
                  %td= account.name
                  %td.text-right
                    - total += account.ledgers.sum(:amount)
                    = number_to_currency(total)

              %tr
                %th.top.bottom Total liabilities
                %th.top.bottom.text-right= number_to_currency(total)


      .col-md-6
        .card
          .card-block
            .card-title        
              %h5 Equity

            %table.table.card-text
              %tr
                %th.top.bottom-double Retained earnings
                %th.top.bottom-double.text-right= number_to_currency(-@other_expenses)
              / %tr
              /   %th.top.bottom-double Equity
              /   %th.top.bottom-double.text-right= number_to_currency(@total_equity - @other_expenses)