.row
  .col-md-12
    %br
    %h1
      .visible-print-inline= @active_event.name
      Balance Sheet

    %br
    .row
      .col-md-6
        .card
          .card-body
            .card-title
              %h5 Assets

            %table.table.card-text
              - total_assets = 0
              - @asset_accounts.each do |account|
                - amount = account.ledgers.sum(:amount)
                - next if amount ==0 && account.name != 'Inventory'
                %tr
                  %td(colspan=2)
                    - if account.name == 'Inventory'
                      = link_to account.name, stocks_path
                    - else
                      = link_to account.name, ledgers_path(account_id: account.id)
                  %td.text-right(class = "#{account.name.parameterize} #{ account.name == 'Inventory' ? 'popcorn-inventory' : nil}")
                    - if account.name == 'Inventory'
                      - total_assets += @popcorn_inventory
                      = number_to_currency(@popcorn_inventory)
                    - else
                      - total_assets += amount
                      = number_to_currency(amount)

              %tr
                %td.top.bottom(colspan=2) Total assets
                %td.top.bottom.text-right= number_to_currency(total_assets)

      .col-md-6
        .card
          .card-body
            .card-title
      
              %h5 Liabilities

            %table.table.card-text
              - total_liabilities = 0
              - @liability_accounts.each do |account|
                - amount = account.ledgers.sum(:amount)
                - next if amount == 0
                %tr
                  %td(colspan=2)
                    = link_to account.name, ledgers_path(account_id: account.id)
                  %td.text-right
                    - total_liabilities += amount
                    = number_to_currency(amount)

              %tr
                %td.top.bottom(colspan=2) Total liabilities
                %td.top.bottom.text-right= number_to_currency(total_liabilities)

        %br
        .card
          .card-body
            .card-title        
              %h5 Equity

            %table.table.card-text
              %tr
                %td.top.bottom-double Retained earnings
                %td.top.bottom-double.text-right= number_to_currency(total_assets - total_liabilities)
              / %tr
              /   %th.top.bottom-double Equity
              /   %th.top.bottom-double.text-right= number_to_currency(@total_equity - @other_expenses)


    %p.small.text-muted.visible-print-block= nice_date_time(Time.now)