= render 'transaction'

.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h2 Bank Deposit

        %p.text-muted
          %i.fa.fa-info-circle
          Complete when making a deposit. 
          - if @unit.treasurer?
            A notification email of the deposit will be sent to
            = surround("'", "'.") do
              = @unit.treasurer_email
        = form_for @ledger, url: 'bank-deposit' do |f|
          - if @ledger.errors.any?
            #error_explanation
              %h2= "#{pluralize(@ledger.errors.count, "error")} prohibited this ledger from being saved:"
              %ul
                - @ledger.errors.full_messages.each do |msg|
                  %li= msg


          = f.hidden_field :is_bank_deposit, value: 1
          .col-md-4
            .form-group
              = f.label "From:"
              %br
              = f.collection_select :from_account_id, @cash_accounts, :id, :name, {}, class: 'form-control'

            .form-group
              = f.label "Deposit to:"
              %br
              = f.collection_select :account_id, @bank_accounts, :id, :name, {}, class: 'form-control'
            .form-group
              = f.label 'Amount:'

              = f.text_field :amount, class: 'form-control'
            .form-group
              = f.label "Date of deposit:"
              %br
              = f.date_select :date, { start_year: 2017 }, class: 'form-control'
            .actions
              = f.submit 'Record Deposit', class: 'btn btn-success'
