= render 'transaction'

.row
  .col-md-12
    .card
      .card-body
        .card-title
          %h2 Reimbursement - By Unit

        %p.text-muted.small
          %i.fa.fa-info-circle.small
          Use this form when reimbursing for an expense, which is paid for directly by the Unit. This transaction will record a liability to the Unit for the amount of the expense.

        = form_for @ledger, url: 'expense-reimbursement-1' do |f|
          - if @ledger.errors.any?
            #error_explanation
              %h2= "#{pluralize(@ledger.errors.count, "error")} prohibited this ledger from being saved:"
              %ul
                - @ledger.errors.full_messages.each do |msg|
                  %li= msg


          .col-md-8
            .form-group
              = f.label :description_of_expense
              %br
              = f.text_field :description, class: 'form-control'

          .col-md-4
            .form-group
              = f.label :amount  
              = f.text_field :amount, class: 'form-control'
    

            .form-group
              = f.label :date
              %br  
              = f.date_select :date, {}, class: 'form-control'
            .actions
              = f.submit 'Submit Expense', class: 'btn btn-success'
