= render 'transaction'

.row
  .col-md-12
    .card
      .card-body
        .card-title
          %h2 Cash for Site Sales

        .col-md-8
          %p.text-muted.card-text.small
            %i.fa.fa-info-circle
            Use this to provide cash from your Unit for running Site Sales (to provide change). Typically, you would only do this funding and use this transaction at the beginning of your popcorn event. This will be recorded as money due to the Unit from Site Sales.

        %br
        = form_for @ledger, url: 'fund-site-sales' do |f|
          - if @ledger.errors.any?
            #error_explanation
              %h2= "#{pluralize(@ledger.errors.count, "error")} prohibited this ledger from being saved:"
              %ul
                - @ledger.errors.full_messages.each do |msg|
                  %li= msg

          = f.hidden_field :fund_site_sales, value: 1
          .col-md-4
            .form-group
              = f.label 'Date:'
              %br
              = f.date_select :date, {}, class: 'form-control'

            .form-group
              = f.label 'Amount:'
              = f.text_field :amount, class: 'form-control'
            .actions
              = f.submit 'Fund Site Sales', class: 'btn btn-success'
