.row
  .col-md-12
    %br
    %h1
      .visible-print-inline= @active_event.name
      Income Statement

    %br
    .row
      .col-md-6
        .card
          .card-body
            .card-title
              %h5 Revenues

            %table.table.card-text
              - total_income = 0
              - @income_accounts.each do |account|
                - amount = account.ledgers.sum(:amount)
                %tr
                  %td(colspan=2)
                    = link_to account.name, ledgers_path(account_id: account.id)
                  %td.text-right(class = "#{account.name.parameterize}")
                  - total_income += amount
                  = number_to_currency(amount)

              %tr
                %td(colspan=2) Site Sales
                %td.text-right.site_sale_sales
                  = number_to_currency(@site_sales)
                  - total_income += @site_sales

              %tr
                %td(colspan=2) Take Orders
                %td.text-right
                  = number_to_currency(@take_orders)
                  - total_income += @take_orders

              %tr
                %td(colspan=2) Online Sales
                %td.text-right
                  = number_to_currency(@online_sales)
                  - total_income += @online_sales

              %tr
                %td(colspan=2) Site Sale donations
                %td.text-right
                  = number_to_currency(@site_sale_donations)
                  - total_income += @site_sale_donations

              %tr
                %td(colspan=2) Take Order donations
                %td.text-right
                  = number_to_currency(@take_order_donations)
                  - total_income += @take_order_donations

              %tr
                %td.top.bottom(colspan=2) Total income
                %td.top.bottom.text-right= number_to_currency(total_income)

      .col-md-6
        .card
          .card-body
            .card-title
      
              %h5 Expenses

            %table.table.card-text
              - total_expenses = 0
              - @expense_accounts.each do |account|
                - amount = account.ledgers.sum(:amount)
                - if account.name == 'Popcorn'
                  - amount = @popcorn
                / - next if amount == 0
                %tr
                  %td(colspan=2)
                    = link_to account.name, ledgers_path(account_id: account.id)
                  %td.text-right
                    - total_expenses += amount
                    = number_to_currency(amount)

              %tr
                %td.top.bottom(colspan=2) Total expenses
                %td.top.bottom.text-right= number_to_currency(total_expenses)

        %br


        .card
          .card-body
            .card-title
              %h5 Income

            %table.table.card-text
              %tr
                %td.top.bottom-double Net Income
                %td.top.bottom-double.text-right= number_to_currency(total_income - total_expenses)

    .small.text-muted.visible-print-block= nice_date_time(Time.now)