.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h1 Financial Ledger

        %p
          = link_to new_ledger_path do
            %i.fa.fa-plus.fa-lg
          = '|'
          = link_to bank_deposit_path do
            Bank Deposit
        %table.table
          %thead
            %tr
              %th Account
              %th Description
              %th Amount
              %th Date
              %th Created
              %th
              %th
              %th

          %tbody
            - @ledgers.each do |ledger|
              %tr
                %td= ledger.account.name
                %td= ledger.description
                %td= number_to_currency(ledger.amount)
                %td= ledger.date
                %td= nice_date_time_less(ledger.created_at)
                %td
                  - if ledger.take_order_id
                    =link_to "Take Order", take_order_path(ledger.take_order_id)
                  - elsif ledger.site_sale_id
                    =link_to "Site Sale", site_sale_path(ledger.site_sale_id)
                %td
                  = link_to edit_ledger_path(ledger) do
                    %i.fa.fa-pencil.fa-lg
                %td
                  = link_to ledger, :method => :delete do
                    %i.fa.fa-trash.fa-lg

        = paginate @ledgers
        %br

        %p
          = link_to new_ledger_path do
            %i.fa.fa-plus.fa-lg
          = '|'
          = link_to bank_deposit_path do
            Bank Deposit