.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h1 Ledger


        %p
          %b Account:
          = @ledger.account.name
        %p
          %b Description:
          = @ledger.description
        %p
          %b Amount:
          = number_to_currency(@ledger.amount)
        %p
          %b Date:
          = nice_date(@ledger.date)

        %p
          %b Created:
          = nice_date_time(@ledger.created_at)

        - if @ledger.bank_deposit_notification_sent_at
          %p
            %b Bank notification email sent at:
            = nice_date_time(@ledger.bank_deposit_notification_sent_at)

        = link_to 'Edit', edit_ledger_path(@ledger)
        \|
        = link_to 'Back', ledgers_path
