.row
  .col-md-6
    .card
      .card-block
        .card-title
          %h1 Ledger

        %table.table
          %tr
            %th Account:
            %td.text-right= @ledger.account.name if @ledger.account
          %tr
            %th Description:
            %td.text-right= @ledger.description
          %tr
            %th Amount:
            %td.text-right= number_to_currency(@ledger.amount)
          %tr
            %th Date:
            %td.text-right=nice_date(@ledger.date)
          %tr
            %th Take Order:
            %td.text-right= link_to "Take Order", take_order_path(@ledger.take_order_id) if @ledger.take_order_id
          %tr
            %th Site Sale:
            %td.text-right= link_to "Site Sale", site_sale_path(@ledger.site_sale_id) if @ledger.site_sale_id
          %tr
            %th Created:
            %td.text-right= nice_date_time(@ledger.created_at)

          - if @ledger.account && @ledger.account.is_bank_account_depositable
            %tr
              %th Bank notification email sent at:
              %td.text-right= nice_date_time(@ledger.bank_deposit_notification_sent_at) if @ledger.bank_deposit_notification_sent_at

        - if current_scout.is_financial_admin?
          = link_to 'Edit', edit_ledger_path(@ledger)
          %br
        = link_to 'Back', ledgers_path
