
%br
.row
  .col-md-12
    %h4 Transactions
    %p= link_to "Ledger", ledgers_path

%br
.row
  .col-md-3
    .card.card-outline-primary
      .card-header Cash
      .card-block
        %h4.card-title Bank deposit
        %p.card-text
          Use when making a bank deposit from either Take Order or Site Sale cash.
          - if @active_event.unit.treasurer?
            Notification will be sent to
            = succeed(".") do
              %b= @active_event.unit.treasurer_name
      .card-footer.text-center= button_to "Bank deposit", bank_deposit_path, method: :get, class: 'btn btn-primary btn-sm', disabled: current_scout.is_take_orders_admin? || current_scout.is_site_sales_admin? || current_scout.is_financial_admin? ? false : true

  .col-md-3
    .card.card-outline-primary
      .card-header Setup
      .card-block
        %h4.card-title Cash for Site Sales
        %p.card-text Use when providing initial cash for Site Sale's cash box. Money should be provided by Unit Treasurer.
      .card-footer.text-center= button_to "Cash for Site Sales", fund_site_sales_path, method: :get, class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true
  .col-md-3
    .card.card-outline-primary
      .card-header Expense
      .card-block
        %h4.card-title Reimbursement: Unit
        %p.card-text Use when reimbursing with cash from your Unit (not money received from popcorn sales). 
      .card-footer.text-center= button_to "Expense Reimbursement", expense_reimbursement_1_path, method: :get, class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true  
  .col-md-3
    .card.card-outline-primary
      .card-header Expense
      .card-block
        %h4.card-title Reimbursement: Site Sales/Take Orders
        %p.card-text Use when reimbursing with cash from either Site Sales or Take Orders cash.
      .card-footer.text-center= button_to "Expense Reimbursement", expense_reimbursement_2_path, method: :get, class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true  

  / .col-md-3
  /   .card.card-outline-primary
  /     .card-header Take Orders
  /     .card-block
  /       %h4.card-title Collect from customers.
  /     .card-footer.text-center 
  /       = button_to 'Collect fr/Customer', new_ledger_path(collect_from_customer: true), class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true
  
  .col-md-3
    .card.card-outline-primary
      .card-header Misc
      .card-block
        %h4.card-title Misc transactions
        %p.card-text Use this to make double-entry transactions. This should only be used by advanced users.
      .card-footer.text-center= button_to "Misc transactions", "#",class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true
