
%br
.row
  .col-md-12
    %h3.text-center Pre-defined Transactions
    %p.text-center= link_to "All Transactions", ledgers_path
%br
.row
  .col-md-3
    .card.card-outline-primary
      .card-header.text-muted Cash
      .card-block
        %h5.card-title Bank deposit
        %p.card-text
          Use when making a bank deposit from either Take Order or Site Sale cash.
          - if @active_event.unit.treasurer?
            Notification will be sent to
            = succeed(".") do
              %b= @active_event.unit.treasurer_name
      .card-footer.text-center= button_to "Make a Bank deposit", bank_deposit_path, method: :get, class: 'btn btn-primary btn-sm', disabled: current_scout.is_take_orders_admin? || current_scout.is_site_sales_admin? || current_scout.is_financial_admin? ? false : true

  .col-md-3
    .card.card-outline-primary
      .card-header.text-muted Setup
      .card-block
        %h5.card-title Cash for Site Sales
        %p.card-text Use when providing initial cash for Site Sale's cash box. Money should be provided by Unit Treasurer.
      .card-footer.text-center= button_to "Get Cash for Site Sales", fund_site_sales_path, method: :get, class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true
  .col-md-3
    .card.card-outline-primary
      .card-header.text-muted Expense
      .card-block
        %h5.card-title Reimbursement: Unit
        %p.card-text Use when reimbursing with cash from your Unit (not money received from popcorn sales). 
      .card-footer.text-center= button_to "Reimburse expense", expense_reimbursement_1_path, method: :get, class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true  
  .col-md-3
    .card.card-outline-primary
      .card-header.text-muted Expense
      .card-block
        %h5.card-title Reimbursement: Site Sales/Take Orders
        %p.card-text Use when reimbursing with cash from either Site Sales or Take Orders cash.
      .card-footer.text-center= button_to "Reimburse Expense", expense_reimbursement_2_path, method: :get, class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true  

  .col-md-3
    .card.card-outline-primary
      .card-header.text-muted Payment
      .card-block
        %h5.card-title Collect from customers
        %p.card-text
          Use when collecting money from customers who placed Take Orders but did not pay when ordering.
      .card-footer.text-center 
        = button_to 'Collect fr/Customer', collect_from_customer_path, method: :get, class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true

%hr

.row
  .col-md-12
    %h3.text-center Manual Transactions  
    %p.text-center= link_to "All Transactions", ledgers_path
.row
  .col-md-3
    .card.card-outline-primary
      .card-header.text-muted Misc
      .card-block
        %h5.card-title General Transaction
        %p.card-text Use this to make double-entry transactions. This should only be used by advanced users.
      .card-footer.text-center= button_to "Misc transactions", new_ledger_path, method: :get, class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true
