
%br
.row
  .col-md-12
    %h4 Transactions

%br
.row
  .col-md-3
    .card.card-outline-primary
      .card-header Cash
      .card-block
        %h4.card-title Bank deposit
        %p.card-text
          Use this when making a bank deposit from either Take Order or Site Sale cash.
          - if @active_event.unit.treasurer?
            Email notification will be sent of your deposit to your Unit Treasurer,
            = succeed(".") do
              = @active_event.unit.treasurer_name
      .card-footer.text-center= button_to "Bank deposit", bank_deposit_path, class: 'btn btn-primary btn-sm', disabled: current_scout.is_take_orders_admin? || current_scout.is_site_sales_admin? || current_scout.is_financial_admin? ? false : true

  .col-md-3
    .card.card-outline-primary
      .card-header Setup
      .card-block
        %h4.card-title Cash for Site Sales
        %p.card-text Use this when providing the initial funding for the Site Sale's cash box. This money should be provided by your Unit Treasurer and will be recorded as money due back to the Unit.
      .card-footer.text-center= button_to "Cash for Site Sales", fund_site_sales_path, class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true
  .col-md-3
    .card.card-outline-primary
      .card-header Expense
      .card-block
        %h4.card-title Expense reimbursement #1
        %p.card-text Use this when reimbursing an expense with payment made directly by your Unit (not money received from popcorn sales). 
      .card-footer.text-center= button_to "Reimbursement by Unit", "#" ,class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true  
  .col-md-3
    .card.card-outline-primary
      .card-header Expense
      .card-block
        %h4.card-title Expense reimbursement #2
        %p.card-text Use this when incurring expenses and reimburses those expenses from either Site Sales or Take Orders cash.
      .card-footer.text-center= button_to "Reimbursement by Cash", "#", class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true

  / .col-md-3
  /   .card.card-outline-primary
  /     .card-header Take Orders
  /     .card-block
  /       %h4.card-title Collect from customers.
  /     .card-footer.text-center 
  /       = button_to 'Collect fr/Customer', new_ledger_path(collect_from_customer: true), class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true
  
  .col-md-3
    .card.card-outline-primary
      .card-header Misc
      .card-block
        %h4.card-title Misc transactions
        %p.card-text Use this to make double-entry transactions. This should only be used by advanced users.
      .card-footer.text-center= button_to "Misc transactions", "#",class: 'btn btn-primary btn-sm', disabled: current_scout.is_financial_admin? ? false : true