.row
  .col-md-5
    .card
      .card-block
        .card-title
          %h1 Scout
        = form_for @scout do |f|
          - if @scout.errors.any?
            #error_explanation
              %h2= "#{pluralize(@scout.errors.count, "error")} prohibited this scout from being saved:"
              %ul
                - @scout.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :unit_id
            %br
            - if current_scout.is_super_admin?
              = f.collection_select :unit_id, Unit.all.order(:name), :id, :name, {},class: 'form-control'
            - else
              = current_scout.unit.name
          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: 'form-control'
          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: 'form-control'

          / .form-group
          /   = f.label :password
          /   = f.password_field :password, class: 'form-control'
          / .form-group
          /   = f.label :password_confirmation
          /   = f.password_field :password_confirmation, class: 'form-control'

          
          .form-group
            = f.label :event
            = f.collection_select :default_event_id, @unit.events.order(:name), :id, :name, {:include_blank => "Please select"}, class: 'form-control'

          .form-group
            = f.label :email
            = f.text_field :email, class: 'form-control'
          
          - if current_scout.is_admin?
            .form-group
              = f.label :is_active
              = f.check_box :is_active, class: 'form-control'           
            
            .form-group
              = f.label :is_take_orders_admin
              = f.check_box :is_take_orders_admin, class: 'form-control', disabled: current_scout.is_super_admin? ? false : true

            .form-group
              = f.label :is_site_sales_admin
              = f.check_box :is_site_sales_admin, class: 'form-control' , disabled: current_scout.is_super_admin? ? false : true

            .form-group
              = f.label :is_online_sales_admin
              = f.check_box :is_online_sales_admin, class: 'form-control' , disabled: current_scout.is_super_admin? ? false : true

            .form-group
              = f.label :is_admin
              = f.check_box :is_admin, class: 'form-control' , disabled: current_scout.is_super_admin? ? false : true

          .actions
            = f.submit 'Save', class: 'btn btn-success'

        %br
        %p= link_to "Change password", scout_update_password_path(current_scout)
