.row
  .col-md-3
  .col-md-6
    .card
      .card-body
        %h4.card-title
          = Rails.configuration.application_name
          Password Reset
        %p.card-text
          = form_tag reset_password_path do
            %br
            .form-group
              = label_tag "Email"
              = text_field_tag :email,"", placeholder: 'Your email address to reset', class: 'form-control'
            .actions
              = submit_tag 'Reset password', class: 'btn btn-success', id: 'site_sale_form_submit'