.row
  .col-md-12
    .card
      .card-block
        %h3.card-title Scouts / Administrators

        %ul.nav.nav-tabs.card-text
          %li.nav-item
            = link_to scouts_path(active: true), class: "nav-link #{'active' if params[:active] || (params[:administrators].blank? && params[:inactive].blank?) }" do
              Scouts
              = surround("(", ")") do
                = @scouts.length
          %li.nav-item
            = link_to scouts_path(administrators: true), class: "nav-link #{'active' if params[:administrators]}" do
              Administrators
              = surround("(", ")") do
                = @administrators.length      
        %br
        - unless params[:administrators].present?
          .table-responsive
            %table.table.card-text.table-sm
              %thead
                %tr.small
                  %th
                  %th
                  %th Take Orders
                  %th Site Sales
                  %th Online
                  %th Total
                  
                  - if current_scout.is_unit_admin?
                    %th.text-center Logins
                    %th.hidden-print

              %tbody
                - @scouts.each do |scout|
                  %tr
                    %td
                      %i.fa.fa-user
                      = link_to scout.name, scout_path(scout)
                    %td= scout.email
                    %td
                      - unless scout.is_admin? || @active_event.nil?
                        = link_to number_to_currency(scout.total_take_order_sales(@active_event), precision: 0), take_orders_path(scout_id: scout.id)
                    %td
                      - unless scout.is_admin? || @active_event.nil?
                        = link_to number_to_currency(@active_event.total_site_sale_sales(scout, true), precision: 0), site_sales_path(scout_id: scout.id)
                    %td
                      - unless scout.is_admin? || @active_event.nil?
                        = link_to number_to_currency(scout.total_online_sales(@active_event), precision: 0), online_sales_path(scout_id: scout.id)
                    %td
                      - unless scout.is_admin? || @active_event.nil?
                        = number_to_currency(scout.sales(@active_event), precision: 0)
                    
                    - if current_scout.is_unit_admin?
                      %td.text-center= scout.sign_in_count
                      %td.hidden-print
                        = link_to edit_scout_path(scout) do
                          %span.fa.fa-pencil.fa-lg
                        - unless scout.activity?
                          = link_to scout, :method => :delete, :data => { :confirm => 'Are you sure? This will destroy the Scout account and all related information if there is no activity.'  } do
                            %span.fa.fa-trash.fa-lg
                    
        - if params[:administrators].present?
          .table-responsive
            %table.table.card-text.table-sm
              %thead.small
                %tr
                  %th
                  %th
                  %th.text-center(colspan=5) RIGHTS
                  %th

                  - if current_scout.is_unit_admin?
                    %th
                    %th.hidden-print
                %tr
                  %th
                  %th.role.text-center Unit
                  %th.role.text-center Finances
                  %th.role.text-center Take Orders
                  %th.role.text-center Site Sales
                  %th.role.text-center Online Sales
                  %th.role.text-center Warehouse
                  %th.role.text-center Prizes
                  
                  - if current_scout.is_unit_admin?
                    %th.text-center Logins
                    %th.hidden-print

              %tbody
                - @administrators.each do |scout|
                  %tr
                    %td
                      %i.fa.fa-user
                      = link_to scout.name, scout_path(scout)
                    %td.role.text-center
                      - if scout.is_unit_admin?
                        %i.fa.fa-check-square-o
                      - else
                        %i.fa.fa-square-o.text-muted
                    %td.role.text-center
                      - if scout.is_financial_admin?
                        %i.fa.fa-check-square-o
                      - else
                        %i.fa.fa-square-o.text-muted
                    %td.role.text-center
                      - if scout.is_take_orders_admin?
                        %i.fa.fa-check-square-o
                      - else
                        %i.fa.fa-square-o.text-muted
                    %td.role.text-center
                      - if scout.is_site_sales_admin?
                        %i.fa.fa-check-square-o
                      - else
                        %i.fa.fa-square-o.text-muted
                    %td.role.text-center
                      - if scout.is_online_sales_admin?
                        %i.fa.fa-check-square-o
                      - else
                        %i.fa.fa-square-o.text-muted
                    %td.role.text-center
                      - if scout.is_warehouse_admin?
                        %i.fa.fa-check-square-o
                      - else
                        %i.fa.fa-square-o.text-muted
                    %td.role.text-center
                      - if scout.is_prizes_admin?
                        %i.fa.fa-check-square-o
                      - else
                        %i.fa.fa-square-o.text-muted
                    
                    - if current_scout.is_unit_admin?
                      %td.text-center= scout.sign_in_count
                      %td.hidden-print
                        = link_to edit_scout_path(scout) do
                          %span.fa.fa-pencil.fa-lg
                        - unless scout.activity?
                          = link_to scout, :method => :delete, :data => { :confirm => 'Are you sure? This will destroy the Administrator account and all related information if there is no activity.' } do
                            %span.fa.fa-trash.fa-lg

- if current_scout.is_unit_admin?            
  .row
    .col-md-3
      .card
        .card-block.hidden-print
          - if params[:administrators].present?
            = link_to new_scout_path(administrator: true, unit_id: current_scout.unit_id) do
              %i.fa.fa-plus.fa-lg
              Add a new Administrator
          - else
            = link_to new_scout_path(unit_id: current_scout.unit_id) do
              %i.fa.fa-plus.fa-lg
              Add a new Scout
