- if @scout.errors.full_messages.include? 'Email has already been taken'
  = render 'email_taken'

.row
  .col-md-6
    .card
      .card-body
        .card-title
          %h2 Sign Up

        - if params[:administrator]
          %p.text-info
            %i.fa.fa-info-circle
            This will initially create a Scout account. Once created, you can add administrative rights to the account.


        = form_for @scout do |f|
          = render 'errors', target: @scout
          
          - if params[:unit_id]
            = f.hidden_field :unit_id, value: params[:unit_id]
          - else
            .form-group
              = f.label :unit
              %br
              = f.collection_select :unit_id, @units, :id, :name, {prompt: 'Select a Unit...'}, class: 'form-control'

          .form-group
            - if params[:administrator]
              = f.label :administrator_email
            - else
              = f.label :email
            %p.small.text-muted
              %i.fa.fa-info-circle
              Your email must not be already in use with another account.
            = f.email_field :email, placeholder: 'Enter email', autofocus: true,  class: 'form-control'
            
          .form-group
            = f.label :scout_first_name
            = f.text_field :first_name, placeholder: 'First name', class: 'form-control'

          .form-group
            = f.label :scout_last_name
            = f.text_field :last_name, placeholder: 'Last name', class: 'form-control'  

          .form-group
            = f.label :password
            - if @minimum_password_length
              %em
                = surround("(", ")") do
                  = @minimum_password_length
                  characters minimum.

            = f.password_field :password, autocomplete: "off",class: 'form-control'

          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

          .actions
            = f.submit "Sign up", class: 'btn btn-success'
