.row
  .col-md-4
    .card
      .card-block
        .card-title
          %h3
            = current_scout.name
            = link_to edit_scout_path(current_scout) do
              = "Set Event" unless current_scout.default_event
              %i.fa.fa-pencil

      %ul.list-group.list-group-flush
      %li.list-group-item
        Unit:
        = current_scout.unit.name
      %li.list-group-item
        Event:
        = current_scout.default_event.name if current_scout.default_event
      %li.list-group-item
        = current_scout.email