.row
  .col-md-4
    .card
      .card-block
        .card-title
          - if current_scout == @scout || current_scout.is_unit_admin?
            .pull-right
              = link_to edit_scout_path(@scout) do
                %i.fa.fa-pencil
          %h3
            = @scout.name

      %ul.list-group.list-group-flush
        %li.list-group-item
          %i.fa.fa-child.fa-lg
          &nbsp;
          = @scout.name
        %li.list-group-item
          %i.fa.fa-users.fa-lg
          &nbsp;
          = @scout.unit.name
        %li.list-group-item
          %i.fa.fa-calendar.fa-lg
          &nbsp;
          - if @scout.event
            = @scout.event.name
          - else
            - if @scout.unit.events.active.any?
              = link_to "Set Event", edit_scout_path(@scout)
            - else
              No Events available
        %li.list-group-item
          %i.fa.fa-envelope.fa-lg
          &nbsp;
          = @scout.email
        %li.list-group-item
          Last login: 
          = @scout.last_sign_in_at.strftime('%b %d %I:%M%p') if @scout.last_sign_in_at
        - if current_scout.admin?
          - unless @scout.is_active
            %li.list-group-item.text-danger
              %i.fa.fa-exclamation-triangle
              &nbsp;
              ARCHIVED


          %li.list-group-item
            Administrator

        - if current_scout == @scout || current_scout.is_unit_admin?
          %li.list-group-item
            = link_to "Change password", scout_update_password_path(@scout)