.row
  .col-md-4
    .card
      .card-block
        .card-title
          %h3
            = @scout.name
            = link_to edit_scout_path(@scout) do
              = "Set Event" unless @scout.default_event
              %i.fa.fa-pencil

      %ul.list-group.list-group-flush
      %li.list-group-item
        Unit:
        = @scout.unit.name
      %li.list-group-item
        Event:
        = @scout.default_event.name if @scout.default_event
      %li.list-group-item
        = @scout.email

      - if current_scout.parent_first_name
        %li.list-group-item
          = @scout.parent_name       

      - if current_scout.is_admin?
        %li.list-group-item
          Administrator