.row
  .col-md-4
    .card
      .card-block
        .card-title
          .pull-right
            = link_to edit_scout_path(@scout) do
              = "Set Event" unless @scout.default_event
              %i.fa.fa-pencil
          %h3
            = @scout.name


      %ul.list-group.list-group-flush
        %li.list-group-item
          %i.fa.fa-child.fa-lg
          &nbsp;
          = @scout.name
        - unless @scout.parent_first_name.blank?
          %li.list-group-item
            %i.fa.fa-male.fa-lg
            &nbsp;
            = @scout.parent_name
        %li.list-group-item
          %i.fa.fa-users.fa-lg
          &nbsp;
          = @scout.unit.name
        %li.list-group-item
          %i.fa.fa-calendar.fa-lg
          &nbsp;
          = @scout.default_event.name if @scout.default_event
        %li.list-group-item
          %i.fa.fa-envelope.fa-lg
          &nbsp;
          = @scout.email

        - if @scout.is_admin?
          %li.list-group-item
            Administrator

        %li.list-group-item
          = link_to "Change password", edit_scout_path(@scout)