.row
  .col-md-5
    .card
      .card-block
        %h2.card-title Update Password
        .card-text
          = form_for @scout do |f|
            - if @scout.errors.any?
              #error_explanation
                %h2= "#{pluralize(@scout.errors.count, "error")} prohibited this scout from being saved:"
                %ul
                  - @scout.errors.full_messages.each do |msg|
                    %li= msg

            .form-group
              = f.label :password
              = f.password_field :password, class: 'form-control'
            .form-group
              = f.label :password_confirmation
              = f.password_field :password_confirmation, class: 'form-control'


            .actions
              = f.submit 'Save', class: 'btn btn-success'
