.row
  .col-md-3
  .col-md-6
    .card
      .card-body
        %h1.display-4.text-xs-center= Rails.configuration.application_name || 'Corn Cub'
        .text-xs-center= image_tag "kettle-corn-microwave.jpg", class: 'img-fluid m-x-auto'

        - unless Unit.all.empty?
          = form_for session_path do |f|
            .form-group
              .field
                = f.label :email
                %br
                = f.email_field :email, autofocus: true, class: 'form-control'
            .form-group
              .field
                = f.label :password
                %br
                = f.password_field :password, autocomplete: "off", class: 'form-control'

            .actions
              = f.submit "Log in", class: 'btn btn-success'
              / - if devise_mapping.registerable? && controller_name != 'registrations' && Unit.all.any?
              /   &nbsp; or,
              /   = link_to new_registration_path(resource_name), class: 'sign_up_link' do
              /     Sign up
              /   %br

        %br

        / # = render "devise/shared/links"
        - if Rails.configuration.allow_for_multiple_units || Unit.all.empty?
          Unit not signed up?
          = link_to "Sign Up Your Unit", new_unit_path, class: 'sign-up-your-unit'