.row
  .col-md-5
    .card
      .card-body
        %h1.card-title Online Sale

        = form_for @online_sale do |f|
          - if @online_sale.errors.any?
            #error_explanation
              %h2= "#{pluralize(@online_sale.errors.count, "error")} prohibited this online_sale from being saved:"
              %ul
                - @online_sale.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :scout
            = f.collection_select :scout_id, @unit.scouts.active.not_admin.order(:first_name), :id, :name, {},class: 'form-control'
          .form-group
            = f.label :order_date
            %br
            = f.date_select :order_date, {}, class: 'form-control'
          .form-group
            = f.label :customer_name
            = f.text_field :customer_name, class: 'form-control'
          .form-group
            = f.label :description
            = f.text_field :description, class: 'form-control'
          .form-group
            = f.label :amount
            = f.text_field :amount, class: 'form-control'
          .actions
            = f.submit 'Save', class: 'btn btn-success'
