%p= 'Hello ' + @scout.first_name.capitalize + ','


%p Welcome to our Popcorn website, where we've made it fun for you to track your progress toward's your own goal.

%p
  This is the email you will log in with:
  %br
  Email:
  = @scout.email

%p If you forgot your password, there is a link on our website where you can request a new password.

%p
  If you have any questions, you can contact:
  %br
  - @scout.unit.admin.each do |admin|
    = admin.name
    = surround('(',')') do
      = admin.email
    %br