%p= 'Hello ' + @scout.first_name.capitalize + ','


%p 
  Welcome to our
  = link_to "Corn Cub", "http://corncub.fun"
  website, where we've made it fun for Scout's to track their own Popcorn sales progress.

%p
  This is the email you will log in with:
  %br
  Email:
  = @scout.email

%p
  If you did not register yourself, this signup may have been done for you by your Unit. Simply go to
  = link_to "Corn Cub", "http://corncub.fun"
  and do a password reset to create new credentials for logging in.

%p
  If you have any questions, you can contact:
  %br
  - @scout.unit.admin.each do |admin|
    = admin.name
    = surround('(',')') do
      = admin.email
    %br