!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv='Content-Type')
  %body
    %h1{style: 'text-align:center'}
      Welcome to
      = succeed("'s") do
        = @scout.unit.name
      = Rails.configuration.application_name

    %p 
      Hello   
      = succeed(",") do 
        = @scout.first_name.capitalize

  
    %p
      Welcome to our own Popcorn Sale event website, where we've made it fun for all of our Scouts to be able to see their contribution.

    %p
      You are registered:
      %br
      Email:
      = @scout.email

    %p
      If you have any questions, you can contact:
      %br
      - @scout.unit.admin.each do |admin|
        admin.name
        = surround('(',')') do
          admin.email
        %br
