.row
  .col-md-6
    .card
      .card-block
        .card-title
          %h2 Unit details

        = form_for @unit do |f|
          - if @unit.errors.any?
            #error_explanation
              %h2= "#{pluralize(@unit.errors.count, "error")} prohibited this unit from being saved:"
              %ul
                - @unit.errors.full_messages.each do |msg|
                  %li= msg
          
          .form-group
            = f.label :unit_name
            = f.text_field :name, placeholder: 'Pack 999', class: 'form-control'

          %br

          %h4 Administrator

          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: 'form-control'

          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: 'form-control'

          .form-group
            = f.label :email
            = f.text_field :email, class: 'form-control'

          .form-group
            = f.label :password
            - if @minimum_password_length
              %em
                = surround("(", ")") do
                  = @minimum_password_length
                  characters minimum.

            = f.password_field :password, autocomplete: "off",class: 'form-control'

          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

          %hr


          .actions
            = f.submit 'Save', class: 'btn btn-success'
