.row
  .col-md-6
    .card
      .card-block
        .card-title
          %h2 Unit Details

        = form_for @unit do |f|
          - if @unit.errors.any?
            #error_explanation
              %h2= "#{pluralize(@unit.errors.count, "error")} prohibited this unit from being saved:"
              %ul
                - @unit.errors.full_messages.each do |msg|
                  %li= msg
          
          .form-group
            = f.label :name
            = f.text_field :name, placeholder: 'Pack 999', class: 'form-control'

          %br
          %h4 Email Notifications
          %p.text-muted
            %i.fa.fa-info-circle
            Notifications can be enabled to send a confirmation email to Scouts, and a copy to the Unit administrator, when they register. You can also turn off e-mails altogether.

          .form-group
            = f.label :send_email_on_registration
            = f.check_box :send_email_on_registration, class: 'form-control'

          .form-group
            = f.label :send_emails
            = f.check_box :send_emails, class: 'form-control'


          %h4 Treasurer Notifications

          %p.text-muted
            %i.fa.fa-info-circle
            Entering Treasurer details here will result in email notifications of the dates and amounts of money when deposited into a unit bank account.
          .form-group
            = f.label :treasurer_first_name
            = f.text_field :treasurer_first_name, class: 'form-control'
          .form-group
            = f.label :treasurer_last_name
            = f.text_field :treasurer_last_name, class: 'form-control'
          .form-group
            = f.label :treasurer_email
            = f.text_field :treasurer_email, class: 'form-control'

          .actions
            = f.submit 'Save', class: 'btn btn-success'

