.row
  .col-md-6
    .card
      .card-block
        .card-title
          %h2 Unit Details

        = form_for @unit do |f|
          - if @unit.errors.any?
            #error_explanation
              %h2= "#{pluralize(@unit.errors.count, "error")} prohibited this unit from being saved:"
              %ul
                - @unit.errors.full_messages.each do |msg|
                  %li= msg
          
          .form-group
            = f.label :name
            = f.text_field :name, placeholder: 'Pack 999', class: 'form-control'

          %br
          %h4 Treasurer Notifications

          %p.small
            %i.fa.fa-info-circle
            Entering Treasurer details here will result in email notifications of the dates and amounts of money when deposited into a unit bank account.
          .form-group
            = f.label :treasurer_first_name
            = f.text_field :treasurer_first_name, class: 'form-control'
          .form-group
            = f.label :treasurer_last_name
            = f.text_field :treasurer_last_name, class: 'form-control'
          .form-group
            = f.label :treasurer_email
            = f.text_field :treasurer_email, class: 'form-control'

          .actions
            = f.submit 'Save', class: 'btn btn-success'

