.row
  .col-md-6
    .card

      .card-block
        .card-title
          %h3
            = @unit.name
            - if current_scout.is_unit_admin?
              .pull-right
                = link_to edit_unit_path do
                  %i.fa.fa-pencil

        %table.table
          %tr
            %th Treasurer:
            %td.text-right= @unit.treasurer_name

          %tr
            %th Treasurer Email:
            %td.text-right= @unit.treasurer_email

        - if current_scout.is_unit_admin?
          .text-xs-center
            = link_to @unit, :method => :delete, class: 'btn btn-danger', :data => { :confirm => 'WARNING - Are you sure? This will result in your Unit and all event information to be deleted, including your adminstrator account. This action in NON-RECOVERABLE!' } do
              %i.fa.fa-trash-o
              DESTROY UNIT





