.row
  .col-md-6
    .card
      .card-block


        = form_for @prize do |f|
          - if @prize.errors.any?
            #error_explanation
              %h2= "#{pluralize(@prize.errors.count, "error")} prohibited this prize from being saved:"
              %ul
                - @prize.errors.full_messages.each do |msg|
                  %li= msg

          %h4 New Prize

          .form-group
            = f.label 'Name *'
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label 'Sales amount *'
            = f.text_field :sales_amount, class: 'form-control'
          .form-group
            = f.label :source
            = f.select :source, options_for_select( Prize::SOURCES), class: 'form-control'

          %hr
          %h5 Optional fields:

          .form-group
            = f.label :description
            = f.text_field :description, class: 'form-control'

          .form-group
            = f.label "Prize ID"
            = f.text_field :source_id, class: 'form-control'
          .form-group
            = f.label :cost_to_unit
            = f.text_field :cost, class: 'form-control'
          .form-group
            = f.label :reduces_sales_credits
            %p.small.text-muted
              %i.fa.fa-info-circle
              If selected, this prize will reduce the eligible sale credits that a Scout can use to choose prizes. Deselect this option if the prize should automatically be chosen for the Scout if they achieve the Sales Amount indicated above.
            = f.check_box :reduces_sales_credits, class: 'form-control'
          .form-group
            = f.label :image_url
            = f.text_field :url, class: 'form-control'
          .actions
            = f.submit 'Save'
