.row
  .col-md-12
    %h2 Prizes


- if @total_sales > 0 && @active_event.prize_cart_ordering_starts_at && @active_event.prize_cart_ordering_starts_at < Date.today
  .row
    .col-md-4
    .col-md-4
      .alert.alert-danger.text-center
        %p Select Your Prizes
        %b
          = link_to prize_cart_path(@active_event) do
            Prize Cart
            %i.fa.fa-shopping-cart.fa-lg


- if @bsa_prizes.empty? && @bsa_bonus_prizes.empty? && @pack_prizes.empty? 
  %br
  %br
  %p.text-center Prizes for selling popcorn have not been loaded yet. We are working on it so check back later.....

- ['bsa', 'bsa_bonus', 'pack'].each do |prize_type|
  - next unless eval("@#{prize_type}_prizes").any?
  .row
    .col-md-12
      %h2
        - if prize_type == 'bsa'
          BSA
        - elsif prize_type == 'bsa_bonus'
          BSA Bonus
        - elsif prize_type == 'pack'
          PACK 4496
        - else
          = prize_type.titleize
        Prizes
      %hr
  - eval("@#{prize_type}_prizes").each_slice(4) do |batch|
    .row
      - batch.each do |prize|
        .col-md-3
          .card
            .card-block{class: @total_sales > prize.amount ? 'prize-eligible' : nil }
              .card-title
                .small
                  = prize.source.capitalize
                  prize
                %h4= prize.name

              
              .text-center
                = image_tag(prize.url, width: 150, class: 'img-rounded img-fluid m-x-auto d-block') if prize.url
                %br
                %h4
                  = number_to_currency(prize.amount)
                - unless prize.description.blank?
                  = prize.description
                - unless prize.event_id
                  Default
                .small= prize.source_id
                %br
              - if current_scout.admin?
                = link_to 'Edit', edit_prize_path(prize)
                = link_to 'Destroy', prize, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
/ - if @pack_prizes
/   .row
/     - @pack_prizes.each do |prize|
/       .col-md-3
/         .card
/           .card-block{class: current_scout.total_sales > prize.amount ? 'prize-eligible' : nil }
/             .card-title
/               .small
/                 = prize.source.capitalize
/                 award
/               %h4= prize.name
            
/             .text-center
/               = image_tag(prize.url, width: 200) if prize.url
/               %br
/               %h4
/                 = number_to_currency(prize.amount)
/               - unless prize.description.blank?
/                 = prize.description
/               - unless prize.event_id
/                 Default
/               .small= prize.source_id
/               %br
/             - if current_scout.admin?
/               = link_to 'Edit', edit_prize_path(prize)
/               = link_to 'Destroy', prize, :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'New Prize', new_prize_path if current_scout.admin?
