.row
  .col-md-12
    %h2 Prizes

%br
.row

  .col-md-3
    .card
      .card-block.card-text.text-center
        %h5
          Your sales that can be applied towards prizes:
        %h2
          %span.badge.badge-success
            = number_to_currency(current_scout.sales(@active_event))


%br
%br   


- Prize::SOURCES.each do |source|
  - prizes = @active_event.prizes.where(source: source).order(sales_amount: :asc)
  - if prizes.any?
    .row
      .col-md-12
        %h4
          = source
          Prizes
    .row
      - prizes.each do |prize|
        .col-md-3
          .card.text-center
            .card-header
              %h5.card-text= prize.name
              / %p.small.card-text= link_to "Read more", prize_path(prize)
            .card-block
              - if prize.description.present?
                %p.card-text= prize.description

              %p.card-text
                - unless prize.reduces_sales_credits
                  Achieve sales of:
                  %br
                = number_to_currency(prize.sales_amount)
            - if current_scout.prize_cart(@active_event).product_ids.include? prize.id
              .card-footer
                = button_to "Remove from Cart", "#", class: 'btn btn-success btn-sm'

            - elsif prize.reduces_sales_credits && current_scout.available_sales > prize.sales_amount
              .card-footer
                = button_to "Add to Cart", prize_cart_order_path(prize_id: prize.id) , class: 'btn btn-primary btn-sm'


    %br
