.row
  .col-md-12
    %h1 Prizes

.row
  .col-md-2
  .col-md-8
    .alert.alert-info
      As you earn your sales credits, the prizes that you are eligible for will be highlighted.

- if @bsa_prizes
  .row
    - @bsa_prizes.each do |prize|
      .col-md-3
        .card
          .card-block{class: current_scout.total_sales(@active_event) > prize.amount ? 'prize-eligible' : nil }
            .card-title
              .small
                = prize.source.capitalize
                prize
              %h4= prize.name

            
            .text-xs-center
              = image_tag(prize.url, width: 200) if prize.url
              %br
              %h4
                = number_to_currency(prize.amount)
              - unless prize.description.blank?
                = prize.description
              - unless prize.event_id
                Default
              .small= prize.source_id
              %br
            - if current_scout.is_admin?
              = link_to 'Edit', edit_prize_path(prize)
              = link_to 'Destroy', prize, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ - if @pack_prizes
/   .row
/     - @pack_prizes.each do |prize|
/       .col-md-3
/         .card
/           .card-block{class: current_scout.total_sales > prize.amount ? 'prize-eligible' : nil }
/             .card-title
/               .small
/                 = prize.source.capitalize
/                 award
/               %h4= prize.name
            
/             .text-xs-center
/               = image_tag(prize.url, width: 200) if prize.url
/               %br
/               %h4
/                 = number_to_currency(prize.amount)
/               - unless prize.description.blank?
/                 = prize.description
/               - unless prize.event_id
/                 Default
/               .small= prize.source_id
/               %br
/             - if current_scout.is_admin?
/               = link_to 'Edit', edit_prize_path(prize)
/               = link_to 'Destroy', prize, :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'New Prize', new_prize_path if current_scout.is_admin?
