.row
  .col-md-12
    %h2 Prizes
    %p= link_to "Prize Cart", prize_cart_path(current_scout.prize_cart(@active_event))

%br

- if  !@active_event.allow_prize_cart_ordering? && @active_event.prize_cart_ordering_starts_at
  %h2.text-center
    Prize cart ordering opens on 
    = succeed "." do
      = nice_date(@active_event.prize_cart_ordering_starts_at)

- Prize::SOURCES.each do |source|

  - prizes = @active_event.prizes.where(source: source).order(sales_amount: :asc)
  - if prizes.any?
    .row
      .col-md-12
        %h4
          = source
          Prizes

    .row

      .col-md-3
        .card
          .card-body.card-text.text-center
            %p.small
              Your remaining sales credits that can be applied towards
              = source
              prizes:
            %h3
              %span.badge.badge-success{class: "#{source.parameterize} remaining-sales-credits" }
                = number_to_currency(current_scout.prize_cart(@active_event).sales_credits_available(source))


      .col-md-3
        .card
          .card-body.card-text.text-center
            %p.small
              Sales value of
              = source
              prizes in your cart:
            %h3
              %span.badge.badge-success{class: "#{source.parameterize} used-credits" }
                = number_to_currency(@current_scout.prize_cart(@active_event).sales_credits_used(source))

    %br


    .row
      - prizes.each do |prize|
        .col-md-3
          .card.text-center
            .card-body
              %h5.card-text= prize.name

              %p.card-text
                - if prize.description.present?
                  .small= prize.description
                = image_tag(prize.url, class: 'img-fluid img-rounded m-x-auto') if prize.url
                %br
                - unless prize.reduces_sales_credits
                  Achieve sales of:
                  %br
                = number_to_currency(prize.sales_amount)

              - if current_scout.is_prizes_admin?
                .card-text
                  = link_to prize_path(prize) do
                    %i.fa.fa-pencil

            - if prize.reduces_sales_credits && current_scout.prize_cart(@active_event).sales_credits_available(source) >= prize.sales_amount && @active_event.allow_prize_cart_ordering?
              .card-footer
                = button_to "Add to Cart", prize_cart_order_path(prize_id: prize.id) , class: "btn btn-primary btn-sm #{prize.name.parameterize}"


    %br
