.row
  .col-md-6
    .card
      .card-block
        .card-title
          %h1= @prize.name
        %table.table
          - if @prize.description.present?
            %tr
              %th Description:
              %td.text-right= @prize.description
          %tr
            %th Prize source:
            %td.text-right= @prize.source

          - if @prize.source_id.present?
            %tr
              %th Prize id:
              %td.text-right= @prize.source_id

          %tr
            %th Prize Level:
            %td.text-right= number_to_currency(@prize.sales_amount)

          - if @prize.cost && @prize.cost != 0
            %tr
              %th Cost:
              %td.text-right= number_to_currency(@prize.cost)

          %tr
            %th Prize reduces eligible sales credits:
            %td.text-right
              - if @prize.reduces_sales_credits
                %i.fa.fa-check.fa-lg

        = image_tag(@prize.url, class: 'img-fluid img-rounded m-x-auto') if @prize.url

        - if current_scout.is_prizes_admin?
          = link_to edit_prize_path(@prize) do
            %i.fa.fa-pencil.fa-lg

