%nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse.hidden-print(style='background-color: #003F87;')
  %button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    %span.navbar-toggler-icon
  .navbar-brand
    = link_to root_path do
      = Rails.configuration.application_name || "Corn Cub"
      - if @active_event
        = "|"
        %span.event-name= @active_event.name
  - if current_scout      
    .collapse.navbar-collapse#navbarNavAltMarkup
      %ul.navbar-nav
        %li.nav-item
          = link_to home_path, class: "nav-link" do
            %i.fa.fa-home.fa-lg
        / - if @unit
        /   %li.nav-item= link_to "Top Sellers", top_sellers_path, class: "nav-link #{'active' if controller_name == 'top_sellers'}"
        - if @active_event
          %li.nav-item.dropdown
            / = link_to "#",class: "btn btn-secondary sales dropdown-toggle #{'active' if ['take_orders', 'online_sales'].include?(controller_name)}", "data-toggle": "dropdown", 'role': "button" do
            /   - if current_scout.admin?
            /     Sales
            /   - else
            /     My Sales
            /   %span.caret
            / .dropdown-menu
            /   %h6.dropdown-header
            /     - if current_scout.admin?
            /       Sales
            /     - else
            /       My Sales                
            /   - if @active_event.is_take_orders_enabled?
            /     = link_to "Take Orders", take_orders_path, class: "dropdown-item #{'active' if controller_name == 'take_orders'}"
            /   - if @active_event.is_site_sales_enabled?
            /     = link_to "Site Sales", site_sales_path, class: "dropdown-item #{'active' if controller_name == 'site_sales'}"
            /   - if @active_event.is_online_enabled?
            /     = link_to "Online Sales", online_sales_path, class: "dropdown-item #{'active' if controller_name == 'online_sales'}"
          - if @active_event.is_take_orders_enabled? && current_scout.is_admin?
            %li.nav-item.dropdown
              = link_to "#",class: "nav-link dropdown-toggle #{'active' if ['take_orders'].include?(controller_name)}", "data-toggle": "dropdown", 'role': "button" do
                Take Orders
                %span.caret                    
              .dropdown-menu
                = link_to "Take Orders", take_orders_path, class: "dropdown-item #{'active' if controller_name == 'take_orders'}"

                = link_to "Envelopes", envelopes_path(status: 'open'), class: "dropdown-item #{'active' if controller_name == 'envelopes'}"
          - if @active_event.is_take_orders_enabled? && !current_scout.is_admin?
            %li.nav-item
              = link_to "Take Orders", take_orders_path, class: "nav-link #{'active' if controller_name == 'take_orders'}"

          - if @active_event.is_site_sales_enabled?
            %li.nav-item
              = link_to "Site Sales", site_sales_path, class: "nav-link #{'active' if controller_name == 'site_sales'}"
                

          - if @active_event.is_online_enabled?
            %li.nav-item
              = link_to "Online Sales", online_sales_path, class: "nav-link #{'active' if controller_name == 'online_sales'}"
                

          - unless current_scout.admin?
            %li.nav-item= link_to "Popcorn", products_path, class: "nav-link #{'active' if controller_name == 'products'}"
          - if @active_event.is_prizes_enabled?
            %li.nav-item.dropdown
              = link_to "#",class: "dropdown-toggle nav-link #{'active' if ['prizes'].include?(controller_name)}", "data-toggle": "dropdown", 'role': "button" do
                Prizes
                %span.caret
              .dropdown-menu          
                = link_to "All Prizes", prizes_path, class: "dropdown-item #{'active' if controller_name == 'prizes' && action_name == 'index' }"
                - if current_scout.admin?
                  = link_to prize_carts_path, class: "dropdown-item #{'active' if controller_name == 'prize_carts' && action_name == 'index'}" do
                    %i.fa.fa-shopping-cart
                    All prize carts
                  = link_to "Prizes Approved", approved_prizes_path, class: "dropdown-item #{'active' if controller_name == 'prize_carts' && action_name == 'approved_prizes'}"
                - else
                  = link_to prize_cart_path(current_scout.prize_cart(@active_event)), class: "dropdown-item #{'active' if controller_name == 'prizes' && action_name == 'cart'}" do
                    %i.fa.fa-shopping-cart
                    Your Prize cart

   
          - if current_scout.admin?
            %li.nav-item.btn-group
              = link_to "#",class: "dropdown-toggle nav-link #{'active' if controller_name == 'stocks'}", "data-toggle": "dropdown", 'role': "button" do
                Popcorn
              .dropdown-menu

                = link_to "Popcorn", products_path, class: "dropdown-item #{'active' if controller_name == 'products'}"
            
                = link_to "Inventory", stocks_path, class: "dropdown-item #{'active' if controller_name == 'stocks' && !['ledger', 'inventory_returns'].include?(action_name) }"
                = link_to "Transfers", stocks_ledger_path, class: "dropdown-item #{'active' if controller_name == 'stocks' && action_name == 'ledger'}"
                = link_to "Take Order Purchase Orders", take_order_purchase_orders_path, class: "dropdown-item #{'active' if controller_name == 'purchase_orders'}"



        - if current_scout.admin?
          %li.nav-item.btn-group
            = link_to "#",class: "dropdown-toggle nav-link #{'active' if ['units', 'envelopes', 'ledgers', 'stocks', 'purchase_orders', 'events', 'accounts'].include?(controller_name)}", "data-toggle": "dropdown", 'role': "button" do
              Admin
              %span.caret
            .dropdown-menu
              - if @active_event

                / = link_to "Take Orders Order", purchase_orders_path, class: "dropdown-item #{'active' if controller_name =='purchase_orders'}"
                / = link_to "Take Orders Index", take_orders_order_index_path, class: "dropdown-item #{'active' if controller_name =='take_orders_order'}"

                / # = link_to "Bank Deposit", bank_deposit_path, class: "dropdown-item #{'active' if controller_name == 'ledger' && action_name == 'bank_deposit'}"                

                / = link_to "Financial Ledger", ledgers_path, class: "dropdown-item #{'active' if controller_name == 'ledger' && action_name == 'index'}"

                .dropdown-divider
                %h6.dropdown-header
                  Financials
                = link_to "Transactions", ledger_transactions_path, class: "dropdown-item #{'active' if controller_name == 'ledgers' && action_name == 'transactions'}"
                = link_to "Income Statement", income_statement_path, class: "dropdown-item #{'active' if action_name =='income_statement'}"
                = link_to "Balance Sheet", balance_sheet_path, class: "dropdown-item #{'active' if action_name =='balance_sheet'}"

                / = link_to "Inventory Returns", inventory_returns_path, class: "dropdown-item #{'active' if controller_name =='stocks' && action_name == 'inventory_returns'}"
                / = link_to "Final Unit Settlement Form", final_unit_settlement_form_path, class: "dropdown-item #{'active' if controller_name =='ledgers' && action_name == 'final_unit_settlement_form'}"

                / = link_to "Due from Customers", due_from_customers_path, class: "dropdown-item #{'active' if controller_name == 'due_from_customers'}"
                / = link_to "Collect from Customer", new_ledger_path(collect_from_customer: true), class: "dropdown-item #{'active' if controller_name == 'ledgers' && params[:collect_from_customer].present? }"
                / / = link_to "Accounts", accounts_path, class: "dropdown-item #{'active' if controller_name == 'payment_methods'}"
                / = link_to "Resources", resources_path, class: "dropdown-item #{'active' if controller_name == 'resources'}"

           
              .dropdown-divider
              %h6.dropdown-header Unit
              = link_to "Scouts/Administrators", scouts_path, class: "dropdown-item #{'active' if controller_name == 'scouts' && action_name != 'show' }" 
              = link_to "Events", events_path, class: "dropdown-item #{'active' if controller_name == 'events'} #{'disabled' unless current_scout.is_unit_admin? }"
              - if @unit && !@unit.new_record?
                = link_to "Details", unit_path(@unit), class: "dropdown-item #{'active' if controller_name == 'units' && action_name != 'index' }"

      %ul.nav.navbar-nav.ml-auto
        %li.nav-item= link_to current_scout.first_name, scout_path(current_scout), class: "nav-link #{'active' if controller_name == 'scouts' && action_name == 'show'}"
        %li.nav-item
          = link_to logout_path, class: "nav-link" do
            %i.fa.fa-sign-out.fa-lg

%br