.navbar.navbar-fixed-top.bg-faded.navbar-dark(style='background-color:#003F87')
  .container
    %nav
      %button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation")
        &#9776;
          
      .collapse.navbar-toggleable-xs#exCollapsingNavbar2
        .navbar-brand
          Corn Cub
          / - if @unit && !@unit.new_record?
          /   = '| '
          /   = link_to @unit.name, unit_path(@unit)
          / =  '| '
          / = link_to current_scout.first_name, scout_path(current_scout)

        %ul.nav.navbar-nav
          %li.nav-item
            = link_to home_index_path, class: "nav-link #{'active' if controller_name == 'home'}" do
              %i.fa.fa-home.fa-lg
          / - if @unit
          /   %li.nav-item= link_to "Top Sellers", top_sellers_path, class: "nav-link #{'active' if controller_name == 'top_sellers'}"
          %li.nav-item.btn-group
            = link_to "#",class: "dropdown-toggle nav-link #{'active' if ['take_orders', 'online_sales', 'direct_sales'].include?(controller_name)}", "data-toggle": "dropdown", 'role': "button" do
              Sales
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Take Orders", take_orders_path, class: "dropdown-item #{'active' if controller_name == 'take_orders'}"
              / %li= link_to "Direct Sales", direct_sales_path, class: "dropdown-item #{'active' if controller_name == 'direct_sales'}"
              %li= link_to "Site Sales", site_sales_path, class: "dropdown-item #{'active' if controller_name == 'site_sales'}"
              %li= link_to "Online Sales", online_sales_path, class: "dropdown-item #{'active' if controller_name == 'online_sales'}"

          %li.nav-item.btn-group
            = link_to "#",class: "dropdown-toggle nav-link #{'active' if ['prizes'].include?(controller_name)}", "data-toggle": "dropdown", 'role': "button" do
              Prizes
              %span.caret
            %ul.dropdown-menu          
              %li= link_to "Prizes", prizes_path, class: "dropdown-item #{'active' if controller_name == 'prizes' && action_name == 'index' }"
              %li
                = link_to prize_cart_path, class: "dropdown-item #{'active' if controller_name == 'prizes' && action_name == 'cart'}" do
                  %i.fa.fa-shopping-cart
                  Prize Cart
          %li.nav-item= link_to "Products", products_path, class: "nav-link #{'active' if controller_name == 'products'}"
          - if current_scout.is_admin?
            %li.nav-item.btn-group
              = link_to "#",class: "dropdown-toggle nav-link #{'active' if ['units', 'envelopes', 'ledgers', 'stocks', 'purchase_orders', 'events', 'accounts'].include?(controller_name)}", "data-toggle": "dropdown", 'role': "button" do
                Admin
                %span.caret
              %ul.dropdown-menu
                - if current_scout.is_super_admin?
                  %li= link_to "Units", units_path, class: "dropdown-item #{'active' if controller_name == 'units'}"
                %li= link_to "Envelopes", envelopes_path, class: "dropdown-item #{'active' if controller_name == 'envelopes'}"
                %li= link_to "Inventory", stocks_path, class: "dropdown-item #{'active' if controller_name == 'stocks' && !['ledger', 'inventory_returns'].include?(action_name) }"
                %li= link_to "Inventory Ledger", stocks_ledger_path, class: "dropdown-item #{'active' if controller_name == 'stocks' && action_name == 'ledger'}"
                %li= link_to "Financial Ledger", ledgers_path, class: "dropdown-item #{'active' if controller_name == 'ledger'}"
                %li= link_to "Take Orders Order", purchase_orders_path, class: "dropdown-item #{'active' if controller_name =='purchase_orders'}"
                %li= link_to "Inventory Returns", inventory_returns_path, class: "dropdown-item #{'active' if controller_name =='stocks' && action_name == 'inventory_returns'}"
                %li= link_to "Final Unit Settlement Form", final_unit_settlement_form_path, class: "dropdown-item #{'active' if controller_name =='ledgers' && action_name == 'final_unit_settlement_form'}"
                %li= link_to "Scout Prize Selections", scout_prize_selections_path, class: "dropdown-item #{'active' if controller_name == 'scout_prize_selections'}"
                %li= link_to "Scouts", scouts_path, class: "dropdown-item #{'active' if controller_name == 'scouts' && action_name != 'show' }"            
                %li= link_to "Events", events_path, class: "dropdown-item #{'active' if controller_name == 'events'}"
                - if @unit
                  %li= link_to "Unit", unit_path(@unit), class: "dropdown-item #{'active' if controller_name == 'units' && action_name != 'index' }"
                %li
                  = link_to stock_movement_path, class: 'dropdown-item' do
                    %i.fa.fa-print.fa-lg
                    Stock Movement
                %li= link_to "Accounts", accounts_path, class: "dropdown-item #{'active' if controller_name == 'payment_methods'}"
            %li.nav-item.btn-group
             
              = link_to "#", class: "dropdown-toggle nav-link #{'active' if ['balance_sheet', 'income_statement'].include? action_name}",  "data-toggle": "dropdown", 'role': "button" do
                Financial Statements
                %span.caret
              %ul.dropdown-menu
                %li= link_to "Income Statement", income_statement_path, class: "dropdown-item #{'active' if action_name =='income_statement'}"
                %li= link_to "Balance Sheet", balance_sheet_path, class: "dropdown-item #{'active' if action_name =='balance_sheet'}"

          %li.nav-item
            = link_to help_index_path, class: "nav-link #{'active' if controller_name == 'help'}" do
              %i.fa.fa-question.fa-lg



        %ul.nav.navbar-nav.pull-sm-right
          %li.nav-item= link_to current_scout.first_name, scout_path(current_scout), class: "nav-link #{'active' if controller_name == 'scouts' && action_name == 'show'}"
          %li.nav-item
            = link_to destroy_scout_session_path, method: :delete, class: "nav-link" do
              %i.fa.fa-sign-out.fa-lg
