
.card
  .card-block
    .card-title
      %h1 
        Hello
        = succeed("!") do
          = current_scout.first_name
    
    %p.lead
      Welcome to
      = succeed("'s") do
        = @unit.name
      Corn Cub.


    %span.tag.tag-danger
      IMPORTANT

    Our Popcorn Sales event ended October 16.
    - if @active_event.allow_prize_cart_ordering?
      Scouts can now select their prizes in the
      = succeed(".") do
        = link_to "Prize Cart", prize_cart_path(@active_event)
    - else
      Prizes can be selected starting on
      = nice_date(@active_event.allow_prize_cart_ordering_at)
      in the 
      = succeed(".") do
        = link_to "Prize Cart", prize_cart_path(@active_event)
    %br
    %br
    %p.card-text The deadline to enter prize orders is October 30.


