.row
  .col-md-6
    .card
      .card-body
        .card-title
          %h1 Product

        = form_for @product do |f|
          - if @product.errors.any?
            #error_explanation
              %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
              %ul
                - @product.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :image_url
            = f.text_field :url, class: 'form-control'
            %i.fa.fa-info-circle.text-muted.small
              &nbsp; URL to an image located on the Internet.
          .form-group
            = f.label :price            
            = f.text_field :retail_price, disabled: f.object.used? ? true : false, class: 'form-control'
            %p.text-muted.text-small
              - if @product.new_record?
                %span.fa.fa-info-circle
                &nbsp;
                Once the retail price has been set and the product has been used in any sales, it can not be changed.
              - else
                %span.fa.fa-info-circle 
                &nbsp;
                Can not be changed since product has been used
          .form-group
            = f.label :is_active?
            = f.check_box :is_active, class: 'form-control'
          .form-group
            = f.label :is_held_in_inventory?
            = f.check_box :is_physical_inventory, class: 'form-control'
          .form-group
            = f.label :is_pack_donation?
            = f.check_box :is_pack_donation, class: 'form-control'
          .form-group
            = f.label :is_this_sourced_from_the_bsa?
            = f.check_box :is_sourced_from_bsa, class: 'form-control'

          .actions
            = f.submit 'Save', class: 'btn btn-success'
