.row
  .col-md-12
    %h1 Products



- @products.each_slice(3) do |batch|
  .row
    - batch.each do |product|
      .col-md-4
        .card
          .card-block
            .card-title
              %h5.h5= product.name

            - if product.url
              .text-xs-center= image_tag product.url, height: 200, class: 'img-rounded img-fluid m-x-auto d-block'
              %br
            
            %h5.text-xs-center= number_to_currency(product.retail_price)
            - if current_scout.admin?
              .small
                Short name:
                = product.short_name
              = link_to 'Show', product
              = link_to 'Edit', edit_product_path(product)
              = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

.row
  - if current_scout.admin?
    .col-md-4
      .card.card-block.text-xs-center
        %br
        %br
        %br
        %br
        %br
        %br
        = link_to new_product_path do
          %fa.fa.fa-plus.fa-lg
        %br
        %br
        %br
        %br
        %br
        %br
