.row
  .col-md-12
    %h2 Products



- @products.each_slice(3) do |batch|
  .row
    - batch.each do |product|
      .col-md-4
        .card
          .card-block
            .card-title
              %h5.h5.text-xs-center= product.name

            - if product.url.present?
              .text-xs-center= image_tag product.url, height: 200, class: 'img-rounded img-fluid m-x-auto d-block'
              %br
            - else
              %p.text-xs-center.product-image
                %i.fa.fa-cube.fa-lg
            
            %h5.text-xs-center= number_to_currency(product.retail_price)
            - if current_scout.admin?
              .text-xs-right
                = link_to 'Details', product
                = link_to edit_product_path(product) do
                  %i.fa.fa-pencil.fa-lg

                = link_to product, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                  %i.fa.fa-trash.fa-lg

.row
  .col-md-4
    - if current_scout.admin?
      = link_to new_product_path do
        %fa.fa.fa-plus.fa-lg
        Add new product

