.row
  .col-md-12
    %h2
      Products
      - if params[:inactive] && current_scout.admin?
        = surround("(", ")") do
          Inactive

    - if @products.empty?
      %p There are no products for this Event.

    - if current_scout.admin?
      - if params[:inactive]
        %p.card-text= link_to "Products", products_path
      - else
        %p.card-text= link_to "Inactive Products", products_path(inactive: true)
%br
- @products.each_slice(4) do |batch|
  .row
    - batch.each do |product|
      .col-md-3
        .card
          .card-block.product
            .card-title
              %h6.text-center= product.name

            / - if product.url.present?
            /   .text-center= image_tag product.url, height: 200, class: 'img-rounded img-fluid m-x-auto d-block'
            /   %br
            / - else
            %p.text-center.product-image
              %i.fa.fa-shopping-basket.fa-lg
            
            %h6.text-center= number_to_currency(product.retail_price)
            - if current_scout.admin?
              .text-right
                = link_to 'Info', product
                = link_to edit_product_path(product) do
                  %i.fa.fa-pencil.fa-lg

                - unless product.used?
                  = link_to product, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                    %i.fa.fa-trash.fa-lg

  %br

.row
  .col-md-4
    - if current_scout.admin?
      = link_to new_product_path do
        %fa.fa.fa-plus.fa-lg
        Add new product

