.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h2 Take Order

        = form_for [@take_order, @line_item] do |f|
          - if @line_item.errors.any?
            #error_explanation
              %h2= "#{pluralize(@line_item.errors.count, "error")} prohibited this line_item from being saved:"
              %ul
                - @line_item.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :product
            %br
            = f.collection_select :product_id, Product.left(@take_order), :id, :name, class: 'form-control'
          .row
            .col-md-2
              .form-group
                = f.label :quantity
                = f.number_field :quantity, class: 'form-control'
          .actions
            = f.submit 'Save', class: 'btn btn-success'
        %br
        = link_to "Back to Take Order", take_order_path(@take_order) 
