!!!
%html
  = render 'head'
  
  %body
    %nav.navbar.navbar-toggleable-md.navbar-inverse(style='background-color: #003F87;')
      %button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
        %span.navbar-toggler-icon
      .navbar-brand
        = link_to root_path do
          = Rails.configuration.application_name || "Corn Cub"
    %br
    .container
      .hidden_print= render 'flash'
      = yield