.row
  .col-md-6
    .card
      .card-body
        = form_for @account do |f|
          - if @account.errors.any?
            #error_explanation
              %h2= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
              %ul
                - @account.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :account_type
            %br
            = f.select :account_type, options_for_select(Account::ACCOUNT_TYPES), {}, class: 'form-control'
          .form-group
            = f.label :is_take_order_eligible
            = f.check_box :is_take_order_eligible, class: 'form-control'
          .form-group
            = f.label :is_site_sale_eligible
            = f.check_box :is_site_sale_eligible, class: 'form-control'
          .form-group
            = f.label :is_bank_account_depositable
            = f.check_box :is_bank_account_depositable, class: 'form-control'
          .form-group
            = f.label :is_credit_card
            = f.check_box :is_credit_card, class: 'form-control'
          .form-group
            = f.label :is_cash
            = f.check_box :is_cash, class: 'form-control'


          .actions
            = f.submit 'Save', class: 'btn btn-success'
